<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>用户协议</title>
</head>
<body>
    <div style="width: 100%;height: 500px;overflow: auto ;background:#ccc;font-size:13px;">
        <p>
            <h2 style="text-align:center">靓号转发平台使用协议</h2>
            <h3>一、总则</h3>
            1.1. 您确认：您在使用本平台服务之前，已经充分阅读、理解并接受本服务条款的全部内容，一旦您选择“同意”并完成注册或登录流程或使用本平台服务，即表示您同意遵循本服务条款之所有约定；<br>
            1.2. 您同意：临沂市文楷网络科技有限公司（以下简称“文楷”）有权随时对本服务条款及相应的服务规则内容进行单方面的变更，并有权以消息推送、网页公告等方式予以公布，而无需另行单独通知您；若您在本服务条款内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的条款内容使用本服务；若您不同意修改后的服务条款，您应立即停止使用本服务；<br>
            1.3 本协议内容同时包括《隐私政策》, 且您在使用文楷某一特定服务时，该服务可能会另有单独的协议、相关业务规则等（以下统称为“单独协议”）。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。您对前述任何业务规则、单独协议的接受，即视为您对本协议全部的接受。<br>
            <h3>二、 账户</h3>
            2.1 登录<br>
            2.1.1 登录者资格<br>
            2.1.1.1 您确认，在您完成登录程序或以其他文楷允许的方式实际使用本服务时，您应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织（以下统称为“法律主体”）；<br>
            2.1.1.2 若您是未成年人或限制民事行为能力人，则您不具备前述主体资格，您及您的监护人应承担因您的不当使用行为而导致的一切后果，且文楷有权注销（永久冻结）您的账户，并向您及您的监护人索偿；<br>
            2.1.2 账户和实名认证<br>
            2.1.2.1 在您按照登录页面提示填写登录信息、阅读并同意本服务条款且完成全部登录程序后，或您以其他文楷允许的方式实际使用本网站服务时，您即受本服务条款约束。您可以使用您提供或确认的邮箱、手机号码或者文楷允许的其它方式作为登录手段进入本网站；<br>
            2.1.2.2 您了解并同意，为保证账户和操作安全，文楷有权随时要求您完成文楷账户的实名认证；同时，文楷可能会就某些产品或服务的开通，要求您提供更多的身份资料和信息，做进一步的身份认证或资格验证，您的账户只有在通过这些认证和验证之后，方可获得使用相关产品或服务的资格；<br>
            2.1.2.4 您的文楷平台账户是您在本平台网站进行一切活动的唯一身份识别依据，每一个文楷账户都可以在本网站独立开展活动；<br>
            2.2. 账户安全<br>
            2.2.1 您须自行负责对您的文楷账户和密码保密，且须对您在该登录名和密码下发生的所有活动（包括但不限于网上联系客户、网上点击相应服务和购买服务等）承担责任。您同意：<br>
            如发现任何人未经授权使用您的文楷账户和密码，或发生违反保密规定的任何其他情况，您会立即通知文楷，并授权文楷将该信息同步给文楷相关平台；<br>
            确保您在每个上网时段结束时，以正确步骤离开网站。文楷不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。您理解文楷对您的请求采取行动需要合理时间，文楷对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任；<br>
            2.2.2 您理解并同意，文楷有权了解您使用本网站产品及服务的真实背景及目的，有权要求您如实提供真实、全面、准确的信息；如果文楷有合理理由怀疑您提供的信息不真实、您进行虚假销售，或您的行为违反国家法律法规的，文楷有权暂时或永久限制您账户下所使用的所有产品及/或服务的部分或全部功能；<br>
            2.2.3. 您理解并同意，基于运行和操作安全的需要，文楷有权暂时停止或者限制您账号下部分或全部的功能，文楷将通过邮件、短信或电话等方式通知您，您应及时予以关注并按照程序进行申诉等后续操作；<br>
            2.2.4. 您理解并同意，文楷有权按照国家司法、行政、军事、安全等机关（包括但不限于公安机关、检察机关、法院、海关、税务机关、安全部门等）的要求对您的个人信息及在本网站的操作及账户等进行查询、冻结；<br>
            2.3. 账户注销<br>
            2.3.1. 文楷保留在您违反国家、地方法律法规规定或违反本服务条款的情况下，中止或终止为您提供部分或全部服务、直至注销文楷账户的权利；<br>
            2.3.2. 登录名的注销<br>
            2.3.2.1. 您理解并同意，如您的账户下不存在任何未到期的服务，文楷有权注销您的登录名，您将不能再登录文楷网站；<br>
            2.3.3. 您保证不会采取任何影响、损害或可能影响、损害文楷、文楷的关联公司或各公司、网站合法权益，前述影响或损害文楷公司、网站合法权益的行为或方式包括但不限于：<br>
            2.3.3.1. 违反文楷公司公布的任何服务协议/条款、管理规范、操作手册等规范内容；<br>
            2.3.3.2. 破坏或试图破坏文楷公司公平交易环境或正常交易秩序；<br>
            2.3.3.3. 任何使用含有文楷公司名称、品牌且对他人有误导嫌疑或任何使用某种中英文(全称或简称)、数字、域名等意图表示或映射与文楷公司具有某种关系的；<br>
            2.3.3.4. 文楷根据自行合理判断，认为可能是与如上行为性质相同或产生如上类似风险的其他情况；<br>
            2.3.3.5 您认可文楷有权在您违反上述约定时有权终止向您提供服务，即您将不能再登录文楷网站，所有文楷网站的服务将同时终止，且文楷不对此承担任何后果。<br>
            <h3>三、平台服务使用守则</h3>
            为有效保障您使用本服务的合法权益，您理解并同意接受以下规则<br>
            3.1. 您通过包括但不限于以下方式向文楷发出的指令，均视为您本人的指令，不可撤回或撤销，您应自行对文楷执行前述指令所产生的任何结果承担责任；<br>
            3.1.1. 通过您的文楷账户和密码进行的所有操作；<br>
            3.1.2. 通过与您的账号绑定的手机号码向文楷发送的全部信息；<br>
            3.1.3. 通过与您的账号绑定的其他硬件、终端、软件、代号、编码、代码、其他账户名等有形体或无形体向文楷发送的信息；<br>
            3.2. 您授权文楷可以通过向第三方审核您的身份和资格，取得您使用本服务的相关资料；<br>
            3.3. 您开始使用文楷的产品或服务前，可能需要和文楷就这一产品或服务签订单独的服务协议。您只有接受该服务协议的全部内容后方可使用该产品或服务；如您不同意该服务协议的部分或者全部的，请您不要进行后续操作；<br>
            3.4.您在使用文楷平台和服务的同时，不能违规招商和发展下级代理，不得以任何名义进行收取押金、保证金、会费等费用，如果您在使用文楷平台时发生违法违规的行为，那么您应当对此付全部责任和文楷无任何关系；<br>
            3.5.任何使用文楷平台用户和消费者，只能通过该平台做中国法律法规允许范围之内的业务和事情，如果发生任何法律纠纷和违法的事情，均由个人承担，和文楷无任何关系；<br>
            3.6.任何机构和个人都不可用文楷提供的服务平台从事传销性质的业务，不允许以任何不合规的形式发展下级代理和收取保证押金等，如有类似事情发生均和文楷无任何关系，文楷也不承担任何责任并将追究违规者的法律责任；<br>
            3.7. 关于第三方<br>
            3.7.1. 如果您通过使用本平台服务，将获取使用来自第三方的任何产品或服务，您还可能受限于该等第三方的相关条款和条件，文楷对此不予过问亦不承担任何责任，本服务条款不影响您与该第三方的法律关系；<br>
            3.7.2. 您确认并同意，文楷的各关联公司均为本服务条款的第三方受益人，且文楷关联公司有权直接强制执行并依赖本服务条款中授予其利益的任何规定。除此之外，任何第三方均不得作为本服务条款的第三方受益人。<br>
            <h3>四、您的权利和义务</h3>
            4.1. 您有权利享受文楷提供的互联网平台技术和信息服务，并有权利在接受文楷提供的服务时获得文楷的技术支持、咨询等服务；<br>
            4.2. 您保证不会利用技术或其他手段破坏或扰乱文楷平台网站。同时保证不使用未经文楷授权的插件、外挂或第三方工具对本协议项下的服务进行干扰、破坏、修改或施加其他影响；<br>
            4.3. 对由于您向文楷平台提供的联络方式有误以及您用于接受文楷邮件的电子邮箱安全性、稳定性不佳而导致的一切后果，您应自行承担责任，包括但不限于因您未能及时收到文楷的相关通知而导致的后果和损失；<br>
            4.5. 您使用文楷的服务需自行准备与相关服务有关的终端设备（如电脑、调制解调器等装置），并承担所需的费用（如电话费、上网费等费用）。您理解并同意，您使用本服务时会耗用您的终端设备和带宽等资源；<br>
            4.6. 您保证<br>
            4.6.1. 您使用文楷产品或服务时将遵从国家、地方法律法规、行业惯例和社会公共道德，不会利用文楷提供的服务进行存储、发布、传播如下信息和内容：违反国家法律法规政策的任何内容（信息）；违反国家规定的政治宣传和/或新闻信息；涉及国家秘密和/或安全的信息；封建迷信和/或淫秽、色情、下流的信息或教唆犯罪的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；妨碍互联网运行安全的信息；侵害他人合法权益的信息和/或其他有损于社会秩序、社会治安、公共道德的信息或内容;您同时承诺不得为他人发布上述不符合国家规定和/或本服务条款约定的信息内容提供任何便利；<br>
            4.6.2.您在使用文楷产品和平台服务时，不得用于违规招商吸纳资金；不得用于组织传销或者类传销活动；不得用于发展超过三级以上的代理加盟等；<br>
            4.6.3. 您以及您的关联方不是任何国家，国际组织或者地域实施的贸易限制，制裁或者其他法律限制的对象；<br>
            如您违反上述保证，文楷除有权根据相关服务条款采取删除信息、中止服务、终止服务的措施等，如因您上述行为给文楷造成损失的，您应予赔偿，严重者将追究法律责任。<br>
            <h3>五、文楷的权利和义务</h3>
            5.1. 文楷应根据您选择的服务以及交纳款项的情况向您提供合格的网络技术和信息服务；<br>
            5.2. 文楷承诺对您资料采取对外保密措施，不向第三方披露您资料，不授权第三方使用您资料，除非：<br>
            5.2.1. 依据本服务条款或者您与文楷之间其他服务协议、合同、在线条款等规定可以提供；<br>
            5.2.2. 依据法律法规的规定应当提供；<br>
            5.2.3. 行政、司法等职权部门要求文楷提供；<br>
            5.2.4. 您同意文楷向第三方提供；<br>
            5.2.5. 文楷解决举报事件、提起诉讼而提交的；<br>
            5.2.6. 文楷为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提交的；<br>
            5.3. 当存在如下情形之一时，文楷有权对您名下账户进行部分或全部冻结：<br>
            5.3.1. 国家法律、法规、政策、法律文书的规定<br>
            5.3.2. 国家有权机关要求进行冻结的<br>
            5.3.3. 您使用文楷服务的行为涉嫌违反国家法律法规及行政规定的；<br>
            5.3.4. 文楷基于单方面合理判断，认为您的账户操作等存在异常时；<br>
            5.3.5. 您遭到他人投诉， 且对方已经提供了一定证据的；<br>
            5.3.6. 文楷根据自行合理判断，认为可能产生风险的其他情况。<br>
            <h3>六、 隐私及其他个人信息的保护</h3>
            一旦您同意本服务条款或使用本服务，您即同意文楷按照以下条款来使用和披露您的个人信息。<br>
            6.1. 登录名和密码<br>
            在您注册帐户时，文楷会要求您设置平台账户登录名和密码来识别您的身份，并设置安全手机及安全邮箱，以便在您丢失密码时用以确认您的身份。您仅可通过您设置的密码来使用该账户，如果您泄漏了密码，您可能会丢失您的个人识别信息，并可能导致对您不利的法律后果。该账户和密码因任何原因受到潜在或现实危险时，您应该立即和文楷取得联系，因您的任何失误造成的损失，文楷对此不负任何责任。<br>
            6.2. 登录和转发记录<br>
            为了保障您使用本服务的安全以及不断改进服务质量，文楷将记录并保存您登录和转发使用本平台服务连接的相关信息，但文楷承诺不将此类信息提供给任何第三方（除双方另有约定或法律法规另有规定及文楷关联公司外）。<br>
            6.3. 外部链接<br>
            本网站含有到其他网站的链接，但文楷对其他网站的隐私保护措施不负任何责任。文楷可能在任何需要的时候增加商业伙伴或共用品牌的网站。<br>
            6.4. 安全<br>
            文楷仅按现有技术提供相应的安全措施来使文楷掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其他服务器备份数据和对用户密码加密。尽管有这些安全措施，但文楷不保证这些信息的绝对安全。<br>
            <h3>七、系统中断或故障</h3>
            系统可能因下列状况无法正常运作，使您无法使用各项互联网服务时，文楷不承担损害赔偿责任，该状况包括但不限于：<br>
            7.1. 文楷在系统停机维护期间。<br>
            7.2. 电信设备出现故障不能进行数据传输的。<br>
            7.3. 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成文楷系统障碍不能执行业务的。<br>
            7.4. 由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。<br>
            <h3>八、 责任范围及责任限制</h3>
            8.1. 文楷仅在中国法律法规允许的范围内提供技术支持和业务服务，不做任何违法违规的事情，文楷平台使用者也不可用此平台推广宣传和开展任何违法违规业务；<br>
            8.2. 本平台的合作单位，所提供的服务品质及内容由该合作单位自行负责，和文楷无关；<br>
            8.3. 您了解并同意，因您使用本服务、违反本服务条款或在您的账户下采取的任何行动，而导致的任何第三方索赔，应且仅应由您本人承担。如果由此引起文楷及其关联公司、员工、客户和合作伙伴被第三方索赔的，您应负责处理，并承担由此造成的全部责任；<br>
            <h3>九、完整协议</h3>
            9.1. 本服务条款由本服务条款与本网站公示的各项规则组成，相关名词可互相引用参照，如有不同理解，以本服务条款为准。<br>
            9.2. 本服务条款的章节标题仅为行文方便而设，不具有法律或合同效力。<br>
            9.3. 您对本服务条款理解和认同，您即对本服务条款所有组成部分的内容理解并认同，一旦您使用本平台服务，您和文楷即受本服务条款所有组成部分的约束。<br>
            <h3>十、【其他】</h3>
            如果您对本协议或本平台服务有意见或建议，可与文楷客户服务部门联系，我们会给予您必要的帮助。<br>
            （备注：关于平台技术功能和业务的未尽事宜，最终解释权归临沂市文楷网络科技有限公司所有！）<br>
            <br>
            <br>
            临沂市文楷网络技术有限公司<br>
            本服务协议自发布之日起即刻生效<br>
        </p>
    </div>
    <br />
    我以详细阅读以上协议，了解并清楚愿意接受上述协议相关约定！
    <br />
    <br />
    <form action="/WeChatManage/Liang/AgreementSaveForm?organizeId=@ViewBag.organizeId" method="post">
        <label style="margin-left:20px">是:<input name="mark" value="1" type="radio"></label>
        <label style="margin-left:20px">否:<input name="mark" value="0" type="radio"></label>
        <input type="submit" style="width:150px;height:40px;margin-left:20px" value="提 交">
    </form>
    <br />
    <br />
    <br />

</body>
</html>