<!DOCTYPE html>
<html>
<head>
    <title>联系方式</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name='apple-touch-fullscreen' content='yes' />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
</head>

<body>
    欢迎关注我们的靓号平台，如有中意的靓号，请致电：@ViewBag.OuterPhone
    <br/>
    另外，本公司还承接各种系统软件开发，公众号开发，欢迎来电咨询！

</body>
</html>
