@model  HZSoft.Application.Entity.CustomerManage.TelphoneLiangEntity
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>山东轩亿靓号商城</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/webapp/css/ali-icon/iconfont.css" />
    <link rel="stylesheet" href="css/m.css?v=2019430" />
</head>

<body class="page">
    <div class="top-bar top-bar-shade top-bar-small clearfix" style="position:fixed; left:0; right:0; top:0; z-index:99999; background-color:#efeff4;">
        <div class="col10"><a href="javascript:history.back();" class="goback"><i class="icon iconfont icon-jiantou25"></i></a></div>
        <div class="col80">号码详情</div>
        <div class="col10">

            <a href="nav.aspx"><i class="icon iconfont icon-daohang"></i></a>

        </div>
    </div>
    <div style="height:40px;"></div>
    <!--detail-->
    <div class="detail">

        <!--商品名称-->
        <div class="mobile">
            <div class="num"><img class="logo" src="/statics/images/logo/i19.png" /><span>17061290666</span></div>
            <div class="price"><span>￥399</span></div>
            <div class="cornermark">出售</div>
            <div class="btn-fav" data-pid="1952182">收 藏</div>
        </div>
        <!--基本信息-->
        <dl class="dl">
            <dt>归属地</dt>
            <dd>北京北京</dd>
            <dt>运营商</dt>
            <dd>移动（移动网络）</dd>
            <dt>含话费</dt>
            <dd>￥0</dd>

            <dt>状态</dt>
            <dd>未售出(仅参考)</dd>
            <dt>商家</dt>
            <dd>
                <span>此号码属平台自营，请放心订购</span>
            </dd>

        </dl>
        <!--tab-->
        <div class="tab alt-tabs">
            <ul class="title">
                <li class="alt-tabs-head cur">号码详情</li>
                <li class="alt-tabs-head">交易流程</li>
                <li class="alt-tabs-head">购买须知</li>
            </ul>
            <ul class="content">
                <li class="alt-tabs-content hide">
                    月租30 两年以后月租6元 可包300分钟通话
                </li>
                <li class="alt-tabs-content hide">
                    <div class='adposition'><p class="tit">交易方式一：线上交易</p><ul class=" list-paddingleft-2"><li><p><em>1</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="title">联系客服</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="desc">联系客服，确认号码在售</span></p></li><li><p><em>2</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="title">在线下单并支付</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="desc">使用微信、支付宝等方式转账付款。</span></p></li><li><p><em>3</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="title">发货</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="desc">收到货款之后，安排快递发货。</span></p></li><li><p><em>4</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="title">买家签收</span></p></li><li><p><em>5</em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;联系售后实名制开卡激活&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="desc">买家拍摄卡和身份证合影照片发给本公司售后</span></p></li><li><p><em>&amp;radic;</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="title">完成交易</span></p></li></ul><p class="tit">交易方式二：当面交易</p><ul class="offline list-paddingleft-2"><li><p><em>1</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="title">联系客服</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="desc">联系客服，确认号码在售，约定交易时间地点，支付相应定金，</span></p></li><li><p><em>2</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="title">双方会面，先验货后付尾款</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="desc">双方会面，买家先验卡，确认后当面付尾款</span></p></li><li><p><em>3</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p></li><li><p><em>&amp;radic;</em> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="title">完成交易</span></p></li></ul><p><br /></p></div>
                </li>
                <li class="alt-tabs-content hide">
                    <div class="buy-notice">
                        <dl>
                            <dt>1、关于实名制</dt>
                            <dd>根据国家工信部《电话用户真实身份信息登记规定》（工业和信息化部令第25号）文件要求，用户办理新号码入网<font>必须进行实名制登记</font>。</dd>

                            <dt>2、关于号码</dt>
                            <dd>号码在多渠道同步销售，网站号码数据更新有延迟，请购买前咨询客服确认号码是否已经售出。</dd>

                            <dt>3、关于套餐</dt>
                            <dd>本店出售的号码套餐资费和正常手机卡套餐资费相同，具体号码套餐情况，可咨询运营商，套餐可以变更。</dd>

                            <dt>4、关于含话费</dt>
                            <dd>本店出售的号码注明的含话费金额仅供参考，具体含话费金额可咨询客服。</dd>

                            <dt>5、关于归属地</dt>
                            <dd>号码归属地是号码办理开通的地区，归属地不可修改，不同的地区运营商资费不同，但全球通套餐全国资费一样。</dd>

                            <dt>6、关于退换货</dt>
                            <dd>由于号码是特殊商品，一旦售出，均无法办理退换货，购买之前请慎重！</dd>

                            <dt>7、关于号码绑定信息</dt>
                            <dd>运营商对于停机三个月的号码，会回收并重新放入市场销售，所以有些老号段的个别号码可能存在之前使用者绑定的银行、淘宝、支付宝、微信等信息，如有以上情况，可联系客服帮忙解绑之前使用者信息。用户购买号码之前也应了解该情况，号码实名制之后无法退换货，以免带来不必要麻烦。</dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>

        <!--contact btns-->

        <div class="btns ">
            <div class="wxqr hide"><div class="close"></div><img alt="微信二维码咨询" src="/uploads/2019529175430_微信图片_20190529175421.jpg"><br />长按识别二维码</div>
            <a class="wx" href="javascript:void(0);"><i></i><span>微信咨询</span></a>
            <a class="tel" href="tel:15760033333"><i></i><span>拔打电话</span></a>
            <a class="qq" href="http://wpa.qq.com/msgrd?v=1&uin=519729664&site=qq&menu=yes"><i></i><span>QQ咨询</span></a>

            <a class="cart" href="/webapp/order.aspx?pid=1952182&sellerid=0"><i></i><span>立即购买</span></a>
        </div>

        <!--contact btns-->



    </div>
    <!--detail end-->
    <!--推荐-->
    <div class="tit2">猜您喜欢</div>
    <div class="box">
        <ul class="mb-list clearfix TBmobileData">

            <li>
                <a href="/webapp/detail.aspx?id=1957634">
                    <div class="mobile">16215622000</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

            <li>
                <a href="/webapp/detail.aspx?id=1957643">
                    <div class="mobile">16215622111</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

            <li>
                <a href="/webapp/detail.aspx?id=1957652">
                    <div class="mobile">16215621222</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

            <li>
                <a href="/webapp/detail.aspx?id=1957656">
                    <div class="mobile">16215626222</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

            <li>
                <a href="/webapp/detail.aspx?id=1957662">
                    <div class="mobile">16215622333</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

            <li>
                <a href="/webapp/detail.aspx?id=1957678">
                    <div class="mobile">16215620555</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

            <li>
                <a href="/webapp/detail.aspx?id=1957679">
                    <div class="mobile">16215621555</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

            <li>
                <a href="/webapp/detail.aspx?id=1957681">
                    <div class="mobile">16215623555</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

            <li>
                <a href="/webapp/detail.aspx?id=1957683">
                    <div class="mobile">16215626555</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

            <li>
                <a href="/webapp/detail.aspx?id=1957684">
                    <div class="mobile">16215627555</div>
                    <div class="city">安徽六安·电信</div>
                    <div class="price"><i>￥</i>400<span>话费0</span></div>
                </a>
            </li>

        </ul>
    </div>

    <div style="height:55px;"></div>

    <div class="fav-nav"><a href="Favorite.aspx"></a></div>


    <div class="gotop hide"><img src="img/icon/top2.png" /></div>
</body>
</html>
<script type="text/javascript" src="/statics/js/jquery.js"></script>
<script type="text/javascript" src="/statics/plus/alt_tabs.js"></script>
<script type="text/javascript" src="/statics/plus/jquery.validate.js"></script>
<script src="/statics/plus/layer/mobile/layer.js" type="text/javascript"></script>
<script type="text/javascript" src="/statics/plus/jquery.cookie.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.alt-tabs').alt_tabs({ action: 'click' });
        $(".btns .wx").click(function () {
            $(".btns .wxqr").show();
        });
        $(".btns .close").click(function () {
            $(".btns .wxqr").hide();
        });

        var fav = $.cookie('fav');
        if (fav != null && fav != undefined && fav != '') {
            if ((',' + fav).indexOf(',' + $(".btn-fav").data("pid") + ',') > -1) { $(".btn-fav").html('已收藏'); }
        }

        $(".btn-fav").click(function () {
            var n = $(this).data("pid") + ',';
            var o = $.cookie('fav');
            if (o != null && o != 'undefined' && o != '') {
                if ((',' + o).indexOf(',' + n) > -1) { //原已收藏
                    var t = (',' + o).replace(',' + n, ',');
                    t = t.substring(1);
                    $.cookie('fav', t, { expires: 7, path: '/' });
                    $(this).html('收 藏');
                } else { //原未收藏
                    $.cookie('fav', n + o, { expires: 7, path: '/' });
                    $(this).html('已收藏');
                }
            } else {
                $.cookie('fav', n, { expires: 7, path: '/' });
                $(this).text('已收藏');
            }
        });
    });
    $(function () {
        $("#form1").validate({
            submitHandler: function () {
                $.ajax({
                    url: '/services/ajaxHandler.ashx?action=order',
                    type: 'POST',
                    data: $("form").serialize(),
                    timeout: 5000,
                    dataType: 'text',
                    success: function (data, textStatus, jqXHR) {
                        if (data.indexOf('success:') == 0) {
                            layer.open({ content: '提交成功！<br/>请您保持手机畅通，客服将会与您联系，如需加急处理，请联系客服', btn: '关闭' });
                        }
                        else {
                            layer.msg('提交失败:' + data);
                        }
                    },
                    error: function (xhr, textStatus) {
                        layer.msg('错误' + textStatus);
                    }
                });
            }
        });
    });

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        if (scrollTop > 200) { $(".gotop").show(); } else { $(".gotop").hide(); }
    });

    $(".gotop").click(function () {
        document.documentElement.scrollTop = document.body.scrollTop = 0;
    })


</script>
