
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>@ViewBag.Title</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <link href="~/ContentNew/css/iconfont.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ContentNew/css/m.css?t=2">
    <link rel="stylesheet" type="text/css" href="~/ContentNew/css/style.css">

    <!--分享-->
    @{Html.RenderAction("_PartialShare", "Liang", new { title = @ViewBag.Title, Img = @ViewBag.Ico });}
    <!--end分享-->
</head>


<body class="page">
    <!--header begin-->
    <div class="box search-section">
        <div class="in-header list-header">
            <div class="top-bar clearfix">
                <div class="return">
                    <div class="col20"><a href="javascript:void();">返回<i class="icon iconfont icon-shouye"></i></a></div>
                </div>
                <div class="col80">
                    <input type="text" placeholder="输入关键字" id="topkw" onclick="javascript:showKwSection();">
                </div>
            </div>
        </div>
        <div class="filter-bar clearfix">
            <div class="filter-bar-city">归属地</div>
            <div class="filter-bar-featrue">类型</div>
            <div class="filter-bar-more">筛选</div>
            <div class="filter-bar-Operator">网络</div>
            <div class="filter-bar-order">排序</div>
        </div>
    </div>
    <div class="mask hide"></div>
    <div class="filter-pop hide">

        <!--city begin-->
        <div class="city hide">
            <div class="left">
                <ul>
                    <li data-provinceid="0" class="cur">全部</li>
                    <li data-provinceid="110000">北京</li>
                    <li data-provinceid="120000">天津</li>
                    <li data-provinceid="130000">河北省</li>
                    <li data-provinceid="140000">山西省</li>
                    <li data-provinceid="150000">内蒙古自治区</li>
                    <li data-provinceid="210000">辽宁省</li>
                    <li data-provinceid="220000">吉林省</li>
                    <li data-provinceid="230000">黑龙江省</li>
                    <li data-provinceid="310000">上海</li>
                    <li data-provinceid="320000">江苏省</li>
                    <li data-provinceid="330000">浙江省</li>
                    <li data-provinceid="340000">安徽省</li>
                    <li data-provinceid="350000">福建省</li>
                    <li data-provinceid="360000">江西省</li>
                    <li data-provinceid="370000">山东省</li>
                    <li data-provinceid="410000">河南省</li>
                    <li data-provinceid="420000">湖北省</li>
                    <li data-provinceid="430000">湖南省</li>
                    <li data-provinceid="440000">广东省</li>
                    <li data-provinceid="450000">广西壮族自治区</li>
                    <li data-provinceid="460000">海南省</li>
                    <li data-provinceid="500000">重庆</li>
                    <li data-provinceid="510000">四川省</li>
                    <li data-provinceid="520000">贵州省</li>
                    <li data-provinceid="530000">云南省</li>
                    <li data-provinceid="540000">西藏自治区</li>
                    <li data-provinceid="610000">陕西省</li>
                    <li data-provinceid="620000">甘肃省</li>
                    <li data-provinceid="630000">青海省</li>
                    <li data-provinceid="640000">宁夏回族自治区</li>
                    <li data-provinceid="650000">新疆维吾尔自治区</li>
                    <li data-provinceid="810000">香港特别行政区</li>
                    <li data-provinceid="820000">澳门特别行政区</li>
                    <li data-provinceid="830000">台湾省</li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li data-cityid="0" data-cityname="" data-provinceid="0" data-provincename="">全部</li>
                    <li class="hide" data-cityid="110100" data-cityname="北京市" data-provinceid="110000" data-provincename="北京">北京市</li>
                    <li class="hide" data-cityid="120100" data-cityname="天津市" data-provinceid="120000" data-provincename="天津">天津市</li>
                    <li class="hide" data-cityid="130100" data-cityname="石家庄市" data-provinceid="130000" data-provincename="河北省">石家庄市</li>
                    <li class="hide" data-cityid="130200" data-cityname="唐山市" data-provinceid="130000" data-provincename="河北省">唐山市</li>
                    <li class="hide" data-cityid="130300" data-cityname="秦皇岛市" data-provinceid="130000" data-provincename="河北省">秦皇岛市</li>
                    <li class="hide" data-cityid="130400" data-cityname="邯郸市" data-provinceid="130000" data-provincename="河北省">邯郸市</li>
                    <li class="hide" data-cityid="130500" data-cityname="邢台市" data-provinceid="130000" data-provincename="河北省">邢台市</li>
                    <li class="hide" data-cityid="130600" data-cityname="保定市" data-provinceid="130000" data-provincename="河北省">保定市</li>
                    <li class="hide" data-cityid="130700" data-cityname="张家口市" data-provinceid="130000" data-provincename="河北省">张家口市</li>
                    <li class="hide" data-cityid="130800" data-cityname="承德市" data-provinceid="130000" data-provincename="河北省">承德市</li>
                    <li class="hide" data-cityid="130900" data-cityname="沧州市" data-provinceid="130000" data-provincename="河北省">沧州市</li>
                    <li class="hide" data-cityid="131000" data-cityname="廊坊市" data-provinceid="130000" data-provincename="河北省">廊坊市</li>
                    <li class="hide" data-cityid="131100" data-cityname="衡水市" data-provinceid="130000" data-provincename="河北省">衡水市</li>
                    <li class="hide" data-cityid="140100" data-cityname="太原市" data-provinceid="140000" data-provincename="山西省">太原市</li>
                    <li class="hide" data-cityid="140200" data-cityname="大同市" data-provinceid="140000" data-provincename="山西省">大同市</li>
                    <li class="hide" data-cityid="140300" data-cityname="阳泉市" data-provinceid="140000" data-provincename="山西省">阳泉市</li>
                    <li class="hide" data-cityid="140400" data-cityname="长治市" data-provinceid="140000" data-provincename="山西省">长治市</li>
                    <li class="hide" data-cityid="140500" data-cityname="晋城市" data-provinceid="140000" data-provincename="山西省">晋城市</li>
                    <li class="hide" data-cityid="140600" data-cityname="朔州市" data-provinceid="140000" data-provincename="山西省">朔州市</li>
                    <li class="hide" data-cityid="140700" data-cityname="晋中市" data-provinceid="140000" data-provincename="山西省">晋中市</li>
                    <li class="hide" data-cityid="140800" data-cityname="运城市" data-provinceid="140000" data-provincename="山西省">运城市</li>
                    <li class="hide" data-cityid="140900" data-cityname="忻州市" data-provinceid="140000" data-provincename="山西省">忻州市</li>
                    <li class="hide" data-cityid="141000" data-cityname="临汾市" data-provinceid="140000" data-provincename="山西省">临汾市</li>
                    <li class="hide" data-cityid="141100" data-cityname="吕梁市" data-provinceid="140000" data-provincename="山西省">吕梁市</li>
                    <li class="hide" data-cityid="150100" data-cityname="呼和浩特市" data-provinceid="150000" data-provincename="内蒙古自治区">呼和浩特市</li>
                    <li class="hide" data-cityid="150200" data-cityname="包头市" data-provinceid="150000" data-provincename="内蒙古自治区">包头市</li>
                    <li class="hide" data-cityid="150300" data-cityname="乌海市" data-provinceid="150000" data-provincename="内蒙古自治区">乌海市</li>
                    <li class="hide" data-cityid="150400" data-cityname="赤峰市" data-provinceid="150000" data-provincename="内蒙古自治区">赤峰市</li>
                    <li class="hide" data-cityid="150500" data-cityname="通辽市" data-provinceid="150000" data-provincename="内蒙古自治区">通辽市</li>
                    <li class="hide" data-cityid="150600" data-cityname="鄂尔多斯市" data-provinceid="150000" data-provincename="内蒙古自治区">鄂尔多斯市</li>
                    <li class="hide" data-cityid="150700" data-cityname="呼伦贝尔市" data-provinceid="150000" data-provincename="内蒙古自治区">呼伦贝尔市</li>
                    <li class="hide" data-cityid="150800" data-cityname="巴彦淖尔市" data-provinceid="150000" data-provincename="内蒙古自治区">巴彦淖尔市</li>
                    <li class="hide" data-cityid="150900" data-cityname="乌兰察布市" data-provinceid="150000" data-provincename="内蒙古自治区">乌兰察布市</li>
                    <li class="hide" data-cityid="152200" data-cityname="兴安盟" data-provinceid="150000" data-provincename="内蒙古自治区">兴安盟</li>
                    <li class="hide" data-cityid="152500" data-cityname="锡林郭勒盟" data-provinceid="150000" data-provincename="内蒙古自治区">锡林郭勒盟</li>
                    <li class="hide" data-cityid="152900" data-cityname="阿拉善盟" data-provinceid="150000" data-provincename="内蒙古自治区">阿拉善盟</li>
                    <li class="hide" data-cityid="210100" data-cityname="沈阳市" data-provinceid="210000" data-provincename="辽宁省">沈阳市</li>
                    <li class="hide" data-cityid="210200" data-cityname="大连市" data-provinceid="210000" data-provincename="辽宁省">大连市</li>
                    <li class="hide" data-cityid="210300" data-cityname="鞍山市" data-provinceid="210000" data-provincename="辽宁省">鞍山市</li>
                    <li class="hide" data-cityid="210400" data-cityname="抚顺市" data-provinceid="210000" data-provincename="辽宁省">抚顺市</li>
                    <li class="hide" data-cityid="210500" data-cityname="本溪市" data-provinceid="210000" data-provincename="辽宁省">本溪市</li>
                    <li class="hide" data-cityid="210600" data-cityname="丹东市" data-provinceid="210000" data-provincename="辽宁省">丹东市</li>
                    <li class="hide" data-cityid="210700" data-cityname="锦州市" data-provinceid="210000" data-provincename="辽宁省">锦州市</li>
                    <li class="hide" data-cityid="210800" data-cityname="营口市" data-provinceid="210000" data-provincename="辽宁省">营口市</li>
                    <li class="hide" data-cityid="210900" data-cityname="阜新市" data-provinceid="210000" data-provincename="辽宁省">阜新市</li>
                    <li class="hide" data-cityid="211000" data-cityname="辽阳市" data-provinceid="210000" data-provincename="辽宁省">辽阳市</li>
                    <li class="hide" data-cityid="211100" data-cityname="盘锦市" data-provinceid="210000" data-provincename="辽宁省">盘锦市</li>
                    <li class="hide" data-cityid="211200" data-cityname="铁岭市" data-provinceid="210000" data-provincename="辽宁省">铁岭市</li>
                    <li class="hide" data-cityid="211300" data-cityname="朝阳市" data-provinceid="210000" data-provincename="辽宁省">朝阳市</li>
                    <li class="hide" data-cityid="211400" data-cityname="葫芦岛市" data-provinceid="210000" data-provincename="辽宁省">葫芦岛市</li>
                    <li class="hide" data-cityid="220100" data-cityname="长春市" data-provinceid="220000" data-provincename="吉林省">长春市</li>
                    <li class="hide" data-cityid="220200" data-cityname="吉林市" data-provinceid="220000" data-provincename="吉林省">吉林市</li>
                    <li class="hide" data-cityid="220300" data-cityname="四平市" data-provinceid="220000" data-provincename="吉林省">四平市</li>
                    <li class="hide" data-cityid="220400" data-cityname="辽源市" data-provinceid="220000" data-provincename="吉林省">辽源市</li>
                    <li class="hide" data-cityid="220500" data-cityname="通化市" data-provinceid="220000" data-provincename="吉林省">通化市</li>
                    <li class="hide" data-cityid="220600" data-cityname="白山市" data-provinceid="220000" data-provincename="吉林省">白山市</li>
                    <li class="hide" data-cityid="220700" data-cityname="松原市" data-provinceid="220000" data-provincename="吉林省">松原市</li>
                    <li class="hide" data-cityid="220800" data-cityname="白城市" data-provinceid="220000" data-provincename="吉林省">白城市</li>
                    <li class="hide" data-cityid="222400" data-cityname="延边朝鲜族自治州" data-provinceid="220000" data-provincename="吉林省">延边朝鲜族自治州</li>
                    <li class="hide" data-cityid="230100" data-cityname="哈尔滨市" data-provinceid="230000" data-provincename="黑龙江省">哈尔滨市</li>
                    <li class="hide" data-cityid="230200" data-cityname="齐齐哈尔市" data-provinceid="230000" data-provincename="黑龙江省">齐齐哈尔市</li>
                    <li class="hide" data-cityid="230300" data-cityname="鸡西市" data-provinceid="230000" data-provincename="黑龙江省">鸡西市</li>
                    <li class="hide" data-cityid="230400" data-cityname="鹤岗市" data-provinceid="230000" data-provincename="黑龙江省">鹤岗市</li>
                    <li class="hide" data-cityid="230500" data-cityname="双鸭山市" data-provinceid="230000" data-provincename="黑龙江省">双鸭山市</li>
                    <li class="hide" data-cityid="230600" data-cityname="大庆市" data-provinceid="230000" data-provincename="黑龙江省">大庆市</li>
                    <li class="hide" data-cityid="230700" data-cityname="伊春市" data-provinceid="230000" data-provincename="黑龙江省">伊春市</li>
                    <li class="hide" data-cityid="230800" data-cityname="佳木斯市" data-provinceid="230000" data-provincename="黑龙江省">佳木斯市</li>
                    <li class="hide" data-cityid="230900" data-cityname="七台河市" data-provinceid="230000" data-provincename="黑龙江省">七台河市</li>
                    <li class="hide" data-cityid="231000" data-cityname="牡丹江市" data-provinceid="230000" data-provincename="黑龙江省">牡丹江市</li>
                    <li class="hide" data-cityid="231100" data-cityname="黑河市" data-provinceid="230000" data-provincename="黑龙江省">黑河市</li>
                    <li class="hide" data-cityid="231200" data-cityname="绥化市" data-provinceid="230000" data-provincename="黑龙江省">绥化市</li>
                    <li class="hide" data-cityid="232700" data-cityname="大兴安岭地区" data-provinceid="230000" data-provincename="黑龙江省">大兴安岭地区</li>
                    <li class="hide" data-cityid="310100" data-cityname="上海市" data-provinceid="310000" data-provincename="上海">上海市</li>
                    <li class="hide" data-cityid="320100" data-cityname="南京市" data-provinceid="320000" data-provincename="江苏省">南京市</li>
                    <li class="hide" data-cityid="320200" data-cityname="无锡市" data-provinceid="320000" data-provincename="江苏省">无锡市</li>
                    <li class="hide" data-cityid="320300" data-cityname="徐州市" data-provinceid="320000" data-provincename="江苏省">徐州市</li>
                    <li class="hide" data-cityid="320400" data-cityname="常州市" data-provinceid="320000" data-provincename="江苏省">常州市</li>
                    <li class="hide" data-cityid="320500" data-cityname="苏州市" data-provinceid="320000" data-provincename="江苏省">苏州市</li>
                    <li class="hide" data-cityid="320600" data-cityname="南通市" data-provinceid="320000" data-provincename="江苏省">南通市</li>
                    <li class="hide" data-cityid="320700" data-cityname="连云港市" data-provinceid="320000" data-provincename="江苏省">连云港市</li>
                    <li class="hide" data-cityid="320800" data-cityname="淮安市" data-provinceid="320000" data-provincename="江苏省">淮安市</li>
                    <li class="hide" data-cityid="320900" data-cityname="盐城市" data-provinceid="320000" data-provincename="江苏省">盐城市</li>
                    <li class="hide" data-cityid="321000" data-cityname="扬州市" data-provinceid="320000" data-provincename="江苏省">扬州市</li>
                    <li class="hide" data-cityid="321100" data-cityname="镇江市" data-provinceid="320000" data-provincename="江苏省">镇江市</li>
                    <li class="hide" data-cityid="321200" data-cityname="泰州市" data-provinceid="320000" data-provincename="江苏省">泰州市</li>
                    <li class="hide" data-cityid="321300" data-cityname="宿迁市" data-provinceid="320000" data-provincename="江苏省">宿迁市</li>
                    <li class="hide" data-cityid="330100" data-cityname="杭州市" data-provinceid="330000" data-provincename="浙江省">杭州市</li>
                    <li class="hide" data-cityid="330200" data-cityname="宁波市" data-provinceid="330000" data-provincename="浙江省">宁波市</li>
                    <li class="hide" data-cityid="330300" data-cityname="温州市" data-provinceid="330000" data-provincename="浙江省">温州市</li>
                    <li class="hide" data-cityid="330400" data-cityname="嘉兴市" data-provinceid="330000" data-provincename="浙江省">嘉兴市</li>
                    <li class="hide" data-cityid="330500" data-cityname="湖州市" data-provinceid="330000" data-provincename="浙江省">湖州市</li>
                    <li class="hide" data-cityid="330600" data-cityname="绍兴市" data-provinceid="330000" data-provincename="浙江省">绍兴市</li>
                    <li class="hide" data-cityid="330700" data-cityname="金华市" data-provinceid="330000" data-provincename="浙江省">金华市</li>
                    <li class="hide" data-cityid="330800" data-cityname="衢州市" data-provinceid="330000" data-provincename="浙江省">衢州市</li>
                    <li class="hide" data-cityid="330900" data-cityname="舟山市" data-provinceid="330000" data-provincename="浙江省">舟山市</li>
                    <li class="hide" data-cityid="331000" data-cityname="台州市" data-provinceid="330000" data-provincename="浙江省">台州市</li>
                    <li class="hide" data-cityid="331100" data-cityname="丽水市" data-provinceid="330000" data-provincename="浙江省">丽水市</li>
                    <li class="hide" data-cityid="340100" data-cityname="合肥市" data-provinceid="340000" data-provincename="安徽省">合肥市</li>
                    <li class="hide" data-cityid="340200" data-cityname="芜湖市" data-provinceid="340000" data-provincename="安徽省">芜湖市</li>
                    <li class="hide" data-cityid="340300" data-cityname="蚌埠市" data-provinceid="340000" data-provincename="安徽省">蚌埠市</li>
                    <li class="hide" data-cityid="340400" data-cityname="淮南市" data-provinceid="340000" data-provincename="安徽省">淮南市</li>
                    <li class="hide" data-cityid="340500" data-cityname="马鞍山市" data-provinceid="340000" data-provincename="安徽省">马鞍山市</li>
                    <li class="hide" data-cityid="340600" data-cityname="淮北市" data-provinceid="340000" data-provincename="安徽省">淮北市</li>
                    <li class="hide" data-cityid="340700" data-cityname="铜陵市" data-provinceid="340000" data-provincename="安徽省">铜陵市</li>
                    <li class="hide" data-cityid="340800" data-cityname="安庆市" data-provinceid="340000" data-provincename="安徽省">安庆市</li>
                    <li class="hide" data-cityid="341000" data-cityname="黄山市" data-provinceid="340000" data-provincename="安徽省">黄山市</li>
                    <li class="hide" data-cityid="341100" data-cityname="滁州市" data-provinceid="340000" data-provincename="安徽省">滁州市</li>
                    <li class="hide" data-cityid="341200" data-cityname="阜阳市" data-provinceid="340000" data-provincename="安徽省">阜阳市</li>
                    <li class="hide" data-cityid="341300" data-cityname="宿州市" data-provinceid="340000" data-provincename="安徽省">宿州市</li>
                    <li class="hide" data-cityid="341500" data-cityname="六安市" data-provinceid="340000" data-provincename="安徽省">六安市</li>
                    <li class="hide" data-cityid="341600" data-cityname="亳州市" data-provinceid="340000" data-provincename="安徽省">亳州市</li>
                    <li class="hide" data-cityid="341700" data-cityname="池州市" data-provinceid="340000" data-provincename="安徽省">池州市</li>
                    <li class="hide" data-cityid="341800" data-cityname="宣城市" data-provinceid="340000" data-provincename="安徽省">宣城市</li>
                    <li class="hide" data-cityid="350100" data-cityname="福州市" data-provinceid="350000" data-provincename="福建省">福州市</li>
                    <li class="hide" data-cityid="350200" data-cityname="厦门市" data-provinceid="350000" data-provincename="福建省">厦门市</li>
                    <li class="hide" data-cityid="350300" data-cityname="莆田市" data-provinceid="350000" data-provincename="福建省">莆田市</li>
                    <li class="hide" data-cityid="350400" data-cityname="三明市" data-provinceid="350000" data-provincename="福建省">三明市</li>
                    <li class="hide" data-cityid="350500" data-cityname="泉州市" data-provinceid="350000" data-provincename="福建省">泉州市</li>
                    <li class="hide" data-cityid="350600" data-cityname="漳州市" data-provinceid="350000" data-provincename="福建省">漳州市</li>
                    <li class="hide" data-cityid="350700" data-cityname="南平市" data-provinceid="350000" data-provincename="福建省">南平市</li>
                    <li class="hide" data-cityid="350800" data-cityname="龙岩市" data-provinceid="350000" data-provincename="福建省">龙岩市</li>
                    <li class="hide" data-cityid="350900" data-cityname="宁德市" data-provinceid="350000" data-provincename="福建省">宁德市</li>
                    <li class="hide" data-cityid="360100" data-cityname="南昌市" data-provinceid="360000" data-provincename="江西省">南昌市</li>
                    <li class="hide" data-cityid="360200" data-cityname="景德镇市" data-provinceid="360000" data-provincename="江西省">景德镇市</li>
                    <li class="hide" data-cityid="360300" data-cityname="萍乡市" data-provinceid="360000" data-provincename="江西省">萍乡市</li>
                    <li class="hide" data-cityid="360400" data-cityname="九江市" data-provinceid="360000" data-provincename="江西省">九江市</li>
                    <li class="hide" data-cityid="360500" data-cityname="新余市" data-provinceid="360000" data-provincename="江西省">新余市</li>
                    <li class="hide" data-cityid="360600" data-cityname="鹰潭市" data-provinceid="360000" data-provincename="江西省">鹰潭市</li>
                    <li class="hide" data-cityid="360700" data-cityname="赣州市" data-provinceid="360000" data-provincename="江西省">赣州市</li>
                    <li class="hide" data-cityid="360800" data-cityname="吉安市" data-provinceid="360000" data-provincename="江西省">吉安市</li>
                    <li class="hide" data-cityid="360900" data-cityname="宜春市" data-provinceid="360000" data-provincename="江西省">宜春市</li>
                    <li class="hide" data-cityid="361000" data-cityname="抚州市" data-provinceid="360000" data-provincename="江西省">抚州市</li>
                    <li class="hide" data-cityid="361100" data-cityname="上饶市" data-provinceid="360000" data-provincename="江西省">上饶市</li>
                    <li class="hide" data-cityid="370100" data-cityname="济南市" data-provinceid="370000" data-provincename="山东省">济南市</li>
                    <li class="hide" data-cityid="370200" data-cityname="青岛市" data-provinceid="370000" data-provincename="山东省">青岛市</li>
                    <li class="hide" data-cityid="370300" data-cityname="淄博市" data-provinceid="370000" data-provincename="山东省">淄博市</li>
                    <li class="hide" data-cityid="370400" data-cityname="枣庄市" data-provinceid="370000" data-provincename="山东省">枣庄市</li>
                    <li class="hide" data-cityid="370500" data-cityname="东营市" data-provinceid="370000" data-provincename="山东省">东营市</li>
                    <li class="hide" data-cityid="370600" data-cityname="烟台市" data-provinceid="370000" data-provincename="山东省">烟台市</li>
                    <li class="hide" data-cityid="370700" data-cityname="潍坊市" data-provinceid="370000" data-provincename="山东省">潍坊市</li>
                    <li class="hide" data-cityid="370800" data-cityname="济宁市" data-provinceid="370000" data-provincename="山东省">济宁市</li>
                    <li class="hide" data-cityid="370900" data-cityname="泰安市" data-provinceid="370000" data-provincename="山东省">泰安市</li>
                    <li class="hide" data-cityid="371000" data-cityname="威海市" data-provinceid="370000" data-provincename="山东省">威海市</li>
                    <li class="hide" data-cityid="371100" data-cityname="日照市" data-provinceid="370000" data-provincename="山东省">日照市</li>
                    <li class="hide" data-cityid="371200" data-cityname="莱芜市" data-provinceid="370000" data-provincename="山东省">莱芜市</li>
                    <li class="hide" data-cityid="371300" data-cityname="临沂市" data-provinceid="370000" data-provincename="山东省">临沂市</li>
                    <li class="hide" data-cityid="371400" data-cityname="德州市" data-provinceid="370000" data-provincename="山东省">德州市</li>
                    <li class="hide" data-cityid="371500" data-cityname="聊城市" data-provinceid="370000" data-provincename="山东省">聊城市</li>
                    <li class="hide" data-cityid="371600" data-cityname="滨州市" data-provinceid="370000" data-provincename="山东省">滨州市</li>
                    <li class="hide" data-cityid="371700" data-cityname="菏泽市" data-provinceid="370000" data-provincename="山东省">菏泽市</li>
                    <li class="hide" data-cityid="410100" data-cityname="郑州市" data-provinceid="410000" data-provincename="河南省">郑州市</li>
                    <li class="hide" data-cityid="410200" data-cityname="开封市" data-provinceid="410000" data-provincename="河南省">开封市</li>
                    <li class="hide" data-cityid="410300" data-cityname="洛阳市" data-provinceid="410000" data-provincename="河南省">洛阳市</li>
                    <li class="hide" data-cityid="410400" data-cityname="平顶山市" data-provinceid="410000" data-provincename="河南省">平顶山市</li>
                    <li class="hide" data-cityid="410500" data-cityname="安阳市" data-provinceid="410000" data-provincename="河南省">安阳市</li>
                    <li class="hide" data-cityid="410600" data-cityname="鹤壁市" data-provinceid="410000" data-provincename="河南省">鹤壁市</li>
                    <li class="hide" data-cityid="410700" data-cityname="新乡市" data-provinceid="410000" data-provincename="河南省">新乡市</li>
                    <li class="hide" data-cityid="410800" data-cityname="焦作市" data-provinceid="410000" data-provincename="河南省">焦作市</li>
                    <li class="hide" data-cityid="410881" data-cityname="济源市" data-provinceid="410000" data-provincename="河南省">济源市</li>
                    <li class="hide" data-cityid="410900" data-cityname="濮阳市" data-provinceid="410000" data-provincename="河南省">濮阳市</li>
                    <li class="hide" data-cityid="411000" data-cityname="许昌市" data-provinceid="410000" data-provincename="河南省">许昌市</li>
                    <li class="hide" data-cityid="411100" data-cityname="漯河市" data-provinceid="410000" data-provincename="河南省">漯河市</li>
                    <li class="hide" data-cityid="411200" data-cityname="三门峡市" data-provinceid="410000" data-provincename="河南省">三门峡市</li>
                    <li class="hide" data-cityid="411300" data-cityname="南阳市" data-provinceid="410000" data-provincename="河南省">南阳市</li>
                    <li class="hide" data-cityid="411400" data-cityname="商丘市" data-provinceid="410000" data-provincename="河南省">商丘市</li>
                    <li class="hide" data-cityid="411500" data-cityname="信阳市" data-provinceid="410000" data-provincename="河南省">信阳市</li>
                    <li class="hide" data-cityid="411600" data-cityname="周口市" data-provinceid="410000" data-provincename="河南省">周口市</li>
                    <li class="hide" data-cityid="411700" data-cityname="驻马店市" data-provinceid="410000" data-provincename="河南省">驻马店市</li>
                    <li class="hide" data-cityid="420100" data-cityname="武汉市" data-provinceid="420000" data-provincename="湖北省">武汉市</li>
                    <li class="hide" data-cityid="420200" data-cityname="黄石市" data-provinceid="420000" data-provincename="湖北省">黄石市</li>
                    <li class="hide" data-cityid="420300" data-cityname="十堰市" data-provinceid="420000" data-provincename="湖北省">十堰市</li>
                    <li class="hide" data-cityid="420500" data-cityname="宜昌市" data-provinceid="420000" data-provincename="湖北省">宜昌市</li>
                    <li class="hide" data-cityid="420600" data-cityname="襄阳市" data-provinceid="420000" data-provincename="湖北省">襄阳市</li>
                    <li class="hide" data-cityid="420700" data-cityname="鄂州市" data-provinceid="420000" data-provincename="湖北省">鄂州市</li>
                    <li class="hide" data-cityid="420800" data-cityname="荆门市" data-provinceid="420000" data-provincename="湖北省">荆门市</li>
                    <li class="hide" data-cityid="420900" data-cityname="孝感市" data-provinceid="420000" data-provincename="湖北省">孝感市</li>
                    <li class="hide" data-cityid="421000" data-cityname="荆州市" data-provinceid="420000" data-provincename="湖北省">荆州市</li>
                    <li class="hide" data-cityid="421100" data-cityname="黄冈市" data-provinceid="420000" data-provincename="湖北省">黄冈市</li>
                    <li class="hide" data-cityid="421200" data-cityname="咸宁市" data-provinceid="420000" data-provincename="湖北省">咸宁市</li>
                    <li class="hide" data-cityid="421300" data-cityname="随州市" data-provinceid="420000" data-provincename="湖北省">随州市</li>
                    <li class="hide" data-cityid="422800" data-cityname="恩施土家族苗族自治州" data-provinceid="420000" data-provincename="湖北省">恩施土家族苗族自治州</li>
                    <li class="hide" data-cityid="430100" data-cityname="长沙市" data-provinceid="430000" data-provincename="湖南省">长沙市</li>
                    <li class="hide" data-cityid="430200" data-cityname="株洲市" data-provinceid="430000" data-provincename="湖南省">株洲市</li>
                    <li class="hide" data-cityid="430300" data-cityname="湘潭市" data-provinceid="430000" data-provincename="湖南省">湘潭市</li>
                    <li class="hide" data-cityid="430400" data-cityname="衡阳市" data-provinceid="430000" data-provincename="湖南省">衡阳市</li>
                    <li class="hide" data-cityid="430500" data-cityname="邵阳市" data-provinceid="430000" data-provincename="湖南省">邵阳市</li>
                    <li class="hide" data-cityid="430600" data-cityname="岳阳市" data-provinceid="430000" data-provincename="湖南省">岳阳市</li>
                    <li class="hide" data-cityid="430700" data-cityname="常德市" data-provinceid="430000" data-provincename="湖南省">常德市</li>
                    <li class="hide" data-cityid="430800" data-cityname="张家界市" data-provinceid="430000" data-provincename="湖南省">张家界市</li>
                    <li class="hide" data-cityid="430900" data-cityname="益阳市" data-provinceid="430000" data-provincename="湖南省">益阳市</li>
                    <li class="hide" data-cityid="431000" data-cityname="郴州市" data-provinceid="430000" data-provincename="湖南省">郴州市</li>
                    <li class="hide" data-cityid="431100" data-cityname="永州市" data-provinceid="430000" data-provincename="湖南省">永州市</li>
                    <li class="hide" data-cityid="431200" data-cityname="怀化市" data-provinceid="430000" data-provincename="湖南省">怀化市</li>
                    <li class="hide" data-cityid="431300" data-cityname="娄底市" data-provinceid="430000" data-provincename="湖南省">娄底市</li>
                    <li class="hide" data-cityid="433100" data-cityname="湘西土家族苗族自治州" data-provinceid="430000" data-provincename="湖南省">湘西土家族苗族自治州</li>
                    <li class="hide" data-cityid="440100" data-cityname="广州市" data-provinceid="440000" data-provincename="广东省">广州市</li>
                    <li class="hide" data-cityid="440200" data-cityname="韶关市" data-provinceid="440000" data-provincename="广东省">韶关市</li>
                    <li class="hide" data-cityid="440300" data-cityname="深圳市" data-provinceid="440000" data-provincename="广东省">深圳市</li>
                    <li class="hide" data-cityid="440400" data-cityname="珠海市" data-provinceid="440000" data-provincename="广东省">珠海市</li>
                    <li class="hide" data-cityid="440500" data-cityname="汕头市" data-provinceid="440000" data-provincename="广东省">汕头市</li>
                    <li class="hide" data-cityid="440600" data-cityname="佛山市" data-provinceid="440000" data-provincename="广东省">佛山市</li>
                    <li class="hide" data-cityid="440700" data-cityname="江门市" data-provinceid="440000" data-provincename="广东省">江门市</li>
                    <li class="hide" data-cityid="440800" data-cityname="湛江市" data-provinceid="440000" data-provincename="广东省">湛江市</li>
                    <li class="hide" data-cityid="440900" data-cityname="茂名市" data-provinceid="440000" data-provincename="广东省">茂名市</li>
                    <li class="hide" data-cityid="441200" data-cityname="肇庆市" data-provinceid="440000" data-provincename="广东省">肇庆市</li>
                    <li class="hide" data-cityid="441300" data-cityname="惠州市" data-provinceid="440000" data-provincename="广东省">惠州市</li>
                    <li class="hide" data-cityid="441400" data-cityname="梅州市" data-provinceid="440000" data-provincename="广东省">梅州市</li>
                    <li class="hide" data-cityid="441500" data-cityname="汕尾市" data-provinceid="440000" data-provincename="广东省">汕尾市</li>
                    <li class="hide" data-cityid="441600" data-cityname="河源市" data-provinceid="440000" data-provincename="广东省">河源市</li>
                    <li class="hide" data-cityid="441700" data-cityname="阳江市" data-provinceid="440000" data-provincename="广东省">阳江市</li>
                    <li class="hide" data-cityid="441800" data-cityname="清远市" data-provinceid="440000" data-provincename="广东省">清远市</li>
                    <li class="hide" data-cityid="445100" data-cityname="潮州市" data-provinceid="440000" data-provincename="广东省">潮州市</li>
                    <li class="hide" data-cityid="445200" data-cityname="揭阳市" data-provinceid="440000" data-provincename="广东省">揭阳市</li>
                    <li class="hide" data-cityid="445300" data-cityname="云浮市" data-provinceid="440000" data-provincename="广东省">云浮市</li>
                    <li class="hide" data-cityid="441900" data-cityname="东莞市" data-provinceid="440000" data-provincename="广东省">东莞市</li>
                    <li class="hide" data-cityid="442000" data-cityname="中山市" data-provinceid="440000" data-provincename="广东省">中山市</li>
                    <li class="hide" data-cityid="450100" data-cityname="南宁市" data-provinceid="450000" data-provincename="广西壮族自治区">南宁市</li>
                    <li class="hide" data-cityid="450200" data-cityname="柳州市" data-provinceid="450000" data-provincename="广西壮族自治区">柳州市</li>
                    <li class="hide" data-cityid="450300" data-cityname="桂林市" data-provinceid="450000" data-provincename="广西壮族自治区">桂林市</li>
                    <li class="hide" data-cityid="450400" data-cityname="梧州市" data-provinceid="450000" data-provincename="广西壮族自治区">梧州市</li>
                    <li class="hide" data-cityid="450500" data-cityname="北海市" data-provinceid="450000" data-provincename="广西壮族自治区">北海市</li>
                    <li class="hide" data-cityid="450600" data-cityname="防城港市" data-provinceid="450000" data-provincename="广西壮族自治区">防城港市</li>
                    <li class="hide" data-cityid="450700" data-cityname="钦州市" data-provinceid="450000" data-provincename="广西壮族自治区">钦州市</li>
                    <li class="hide" data-cityid="450800" data-cityname="贵港市" data-provinceid="450000" data-provincename="广西壮族自治区">贵港市</li>
                    <li class="hide" data-cityid="450900" data-cityname="玉林市" data-provinceid="450000" data-provincename="广西壮族自治区">玉林市</li>
                    <li class="hide" data-cityid="451000" data-cityname="百色市" data-provinceid="450000" data-provincename="广西壮族自治区">百色市</li>
                    <li class="hide" data-cityid="451100" data-cityname="贺州市" data-provinceid="450000" data-provincename="广西壮族自治区">贺州市</li>
                    <li class="hide" data-cityid="451200" data-cityname="河池市" data-provinceid="450000" data-provincename="广西壮族自治区">河池市</li>
                    <li class="hide" data-cityid="451300" data-cityname="来宾市" data-provinceid="450000" data-provincename="广西壮族自治区">来宾市</li>
                    <li class="hide" data-cityid="451400" data-cityname="崇左市" data-provinceid="450000" data-provincename="广西壮族自治区">崇左市</li>
                    <li class="hide" data-cityid="460100" data-cityname="海口市" data-provinceid="460000" data-provincename="海南省">海南省</li>
                    <li class="hide" data-cityid="500100" data-cityname="重庆市" data-provinceid="500000" data-provincename="重庆">重庆市</li>
                    <li class="hide" data-cityid="510100" data-cityname="成都市" data-provinceid="510000" data-provincename="四川省">成都市</li>
                    <li class="hide" data-cityid="510300" data-cityname="自贡市" data-provinceid="510000" data-provincename="四川省">自贡市</li>
                    <li class="hide" data-cityid="510400" data-cityname="攀枝花市" data-provinceid="510000" data-provincename="四川省">攀枝花市</li>
                    <li class="hide" data-cityid="510500" data-cityname="泸州市" data-provinceid="510000" data-provincename="四川省">泸州市</li>
                    <li class="hide" data-cityid="510600" data-cityname="德阳市" data-provinceid="510000" data-provincename="四川省">德阳市</li>
                    <li class="hide" data-cityid="510700" data-cityname="绵阳市" data-provinceid="510000" data-provincename="四川省">绵阳市</li>
                    <li class="hide" data-cityid="510800" data-cityname="广元市" data-provinceid="510000" data-provincename="四川省">广元市</li>
                    <li class="hide" data-cityid="510900" data-cityname="遂宁市" data-provinceid="510000" data-provincename="四川省">遂宁市</li>
                    <li class="hide" data-cityid="511000" data-cityname="内江市" data-provinceid="510000" data-provincename="四川省">内江市</li>
                    <li class="hide" data-cityid="511100" data-cityname="乐山市" data-provinceid="510000" data-provincename="四川省">乐山市</li>
                    <li class="hide" data-cityid="511300" data-cityname="南充市" data-provinceid="510000" data-provincename="四川省">南充市</li>
                    <li class="hide" data-cityid="511400" data-cityname="眉山市" data-provinceid="510000" data-provincename="四川省">眉山市</li>
                    <li class="hide" data-cityid="511500" data-cityname="宜宾市" data-provinceid="510000" data-provincename="四川省">宜宾市</li>
                    <li class="hide" data-cityid="511600" data-cityname="广安市" data-provinceid="510000" data-provincename="四川省">广安市</li>
                    <li class="hide" data-cityid="511700" data-cityname="达州市" data-provinceid="510000" data-provincename="四川省">达州市</li>
                    <li class="hide" data-cityid="511800" data-cityname="雅安市" data-provinceid="510000" data-provincename="四川省">雅安市</li>
                    <li class="hide" data-cityid="511900" data-cityname="巴中市" data-provinceid="510000" data-provincename="四川省">巴中市</li>
                    <li class="hide" data-cityid="512000" data-cityname="资阳市" data-provinceid="510000" data-provincename="四川省">资阳市</li>
                    <li class="hide" data-cityid="513200" data-cityname="阿坝藏族羌族自治州" data-provinceid="510000" data-provincename="四川省">阿坝藏族羌族自治州</li>
                    <li class="hide" data-cityid="513300" data-cityname="甘孜藏族自治州" data-provinceid="510000" data-provincename="四川省">甘孜藏族自治州</li>
                    <li class="hide" data-cityid="513400" data-cityname="凉山彝族自治州" data-provinceid="510000" data-provincename="四川省">凉山彝族自治州</li>
                    <li class="hide" data-cityid="520100" data-cityname="贵阳市" data-provinceid="520000" data-provincename="贵州省">贵阳市</li>
                    <li class="hide" data-cityid="520200" data-cityname="六盘水市" data-provinceid="520000" data-provincename="贵州省">六盘水市</li>
                    <li class="hide" data-cityid="520300" data-cityname="遵义市" data-provinceid="520000" data-provincename="贵州省">遵义市</li>
                    <li class="hide" data-cityid="520400" data-cityname="安顺市" data-provinceid="520000" data-provincename="贵州省">安顺市</li>
                    <li class="hide" data-cityid="522200" data-cityname="铜仁市" data-provinceid="520000" data-provincename="贵州省">铜仁市</li>
                    <li class="hide" data-cityid="522300" data-cityname="黔西南布依族苗族自治州" data-provinceid="520000" data-provincename="贵州省">黔西南布依族苗族自治州</li>
                    <li class="hide" data-cityid="522400" data-cityname="毕节市" data-provinceid="520000" data-provincename="贵州省">毕节市</li>
                    <li class="hide" data-cityid="522600" data-cityname="黔东南苗族侗族自治州" data-provinceid="520000" data-provincename="贵州省">黔东南苗族侗族自治州</li>
                    <li class="hide" data-cityid="522700" data-cityname="黔南布依族苗族自治州" data-provinceid="520000" data-provincename="贵州省">黔南布依族苗族自治州</li>
                    <li class="hide" data-cityid="530100" data-cityname="昆明市" data-provinceid="530000" data-provincename="云南省">昆明市</li>
                    <li class="hide" data-cityid="530300" data-cityname="曲靖市" data-provinceid="530000" data-provincename="云南省">曲靖市</li>
                    <li class="hide" data-cityid="530400" data-cityname="玉溪市" data-provinceid="530000" data-provincename="云南省">玉溪市</li>
                    <li class="hide" data-cityid="530500" data-cityname="保山市" data-provinceid="530000" data-provincename="云南省">保山市</li>
                    <li class="hide" data-cityid="530600" data-cityname="昭通市" data-provinceid="530000" data-provincename="云南省">昭通市</li>
                    <li class="hide" data-cityid="530700" data-cityname="丽江市" data-provinceid="530000" data-provincename="云南省">丽江市</li>
                    <li class="hide" data-cityid="530800" data-cityname="普洱市" data-provinceid="530000" data-provincename="云南省">普洱市</li>
                    <li class="hide" data-cityid="530900" data-cityname="临沧市" data-provinceid="530000" data-provincename="云南省">临沧市</li>
                    <li class="hide" data-cityid="532300" data-cityname="楚雄彝族自治州" data-provinceid="530000" data-provincename="云南省">楚雄彝族自治州</li>
                    <li class="hide" data-cityid="532500" data-cityname="红河哈尼族彝族自治州" data-provinceid="530000" data-provincename="云南省">红河哈尼族彝族自治州</li>
                    <li class="hide" data-cityid="532600" data-cityname="文山壮族苗族自治州" data-provinceid="530000" data-provincename="云南省">文山壮族苗族自治州</li>
                    <li class="hide" data-cityid="532800" data-cityname="西双版纳傣族自治州" data-provinceid="530000" data-provincename="云南省">西双版纳傣族自治州</li>
                    <li class="hide" data-cityid="532900" data-cityname="大理白族自治州" data-provinceid="530000" data-provincename="云南省">大理白族自治州</li>
                    <li class="hide" data-cityid="533100" data-cityname="德宏傣族景颇族自治州" data-provinceid="530000" data-provincename="云南省">德宏傣族景颇族自治州</li>
                    <li class="hide" data-cityid="533300" data-cityname="怒江傈僳族自治州" data-provinceid="530000" data-provincename="云南省">怒江傈僳族自治州</li>
                    <li class="hide" data-cityid="533400" data-cityname="迪庆藏族自治州" data-provinceid="530000" data-provincename="云南省">迪庆藏族自治州</li>
                    <li class="hide" data-cityid="540100" data-cityname="拉萨市" data-provinceid="540000" data-provincename="西藏自治区">拉萨市</li>
                    <li class="hide" data-cityid="542100" data-cityname="昌都地区" data-provinceid="540000" data-provincename="西藏自治区">昌都地区</li>
                    <li class="hide" data-cityid="542200" data-cityname="山南地区" data-provinceid="540000" data-provincename="西藏自治区">山南地区</li>
                    <li class="hide" data-cityid="542300" data-cityname="日喀则地区" data-provinceid="540000" data-provincename="西藏自治区">日喀则地区</li>
                    <li class="hide" data-cityid="542400" data-cityname="那曲地区" data-provinceid="540000" data-provincename="西藏自治区">那曲地区</li>
                    <li class="hide" data-cityid="542500" data-cityname="阿里地区" data-provinceid="540000" data-provincename="西藏自治区">阿里地区</li>
                    <li class="hide" data-cityid="542600" data-cityname="林芝地区" data-provinceid="540000" data-provincename="西藏自治区">林芝地区</li>
                    <li class="hide" data-cityid="610100" data-cityname="西安市" data-provinceid="610000" data-provincename="陕西省">西安市</li>
                    <li class="hide" data-cityid="610200" data-cityname="铜川市" data-provinceid="610000" data-provincename="陕西省">铜川市</li>
                    <li class="hide" data-cityid="610300" data-cityname="宝鸡市" data-provinceid="610000" data-provincename="陕西省">宝鸡市</li>
                    <li class="hide" data-cityid="610400" data-cityname="咸阳市" data-provinceid="610000" data-provincename="陕西省">咸阳市</li>
                    <li class="hide" data-cityid="610500" data-cityname="渭南市" data-provinceid="610000" data-provincename="陕西省">渭南市</li>
                    <li class="hide" data-cityid="610600" data-cityname="延安市" data-provinceid="610000" data-provincename="陕西省">延安市</li>
                    <li class="hide" data-cityid="610700" data-cityname="汉中市" data-provinceid="610000" data-provincename="陕西省">汉中市</li>
                    <li class="hide" data-cityid="610800" data-cityname="榆林市" data-provinceid="610000" data-provincename="陕西省">榆林市</li>
                    <li class="hide" data-cityid="610900" data-cityname="安康市" data-provinceid="610000" data-provincename="陕西省">安康市</li>
                    <li class="hide" data-cityid="611000" data-cityname="商洛市" data-provinceid="610000" data-provincename="陕西省">商洛市</li>
                    <li class="hide" data-cityid="620100" data-cityname="兰州市" data-provinceid="620000" data-provincename="甘肃省">兰州市</li>
                    <li class="hide" data-cityid="620200" data-cityname="嘉峪关市" data-provinceid="620000" data-provincename="甘肃省">嘉峪关市</li>
                    <li class="hide" data-cityid="620300" data-cityname="金昌市" data-provinceid="620000" data-provincename="甘肃省">金昌市</li>
                    <li class="hide" data-cityid="620400" data-cityname="白银市" data-provinceid="620000" data-provincename="甘肃省">白银市</li>
                    <li class="hide" data-cityid="620500" data-cityname="天水市" data-provinceid="620000" data-provincename="甘肃省">天水市</li>
                    <li class="hide" data-cityid="620600" data-cityname="武威市" data-provinceid="620000" data-provincename="甘肃省">武威市</li>
                    <li class="hide" data-cityid="620700" data-cityname="张掖市" data-provinceid="620000" data-provincename="甘肃省">张掖市</li>
                    <li class="hide" data-cityid="620800" data-cityname="平凉市" data-provinceid="620000" data-provincename="甘肃省">平凉市</li>
                    <li class="hide" data-cityid="620900" data-cityname="酒泉市" data-provinceid="620000" data-provincename="甘肃省">酒泉市</li>
                    <li class="hide" data-cityid="621000" data-cityname="庆阳市" data-provinceid="620000" data-provincename="甘肃省">庆阳市</li>
                    <li class="hide" data-cityid="621100" data-cityname="定西市" data-provinceid="620000" data-provincename="甘肃省">定西市</li>
                    <li class="hide" data-cityid="621200" data-cityname="陇南市" data-provinceid="620000" data-provincename="甘肃省">陇南市</li>
                    <li class="hide" data-cityid="622900" data-cityname="临夏回族自治州" data-provinceid="620000" data-provincename="甘肃省">临夏回族自治州</li>
                    <li class="hide" data-cityid="623000" data-cityname="甘南藏族自治州" data-provinceid="620000" data-provincename="甘肃省">甘南藏族自治州</li>
                    <li class="hide" data-cityid="630100" data-cityname="西宁市" data-provinceid="630000" data-provincename="青海省">西宁市</li>
                    <li class="hide" data-cityid="632100" data-cityname="海东市" data-provinceid="630000" data-provincename="青海省">海东市</li>
                    <li class="hide" data-cityid="632200" data-cityname="海北藏族自治州" data-provinceid="630000" data-provincename="青海省">海北藏族自治州</li>
                    <li class="hide" data-cityid="632300" data-cityname="黄南藏族自治州" data-provinceid="630000" data-provincename="青海省">黄南藏族自治州</li>
                    <li class="hide" data-cityid="632500" data-cityname="海南藏族自治州" data-provinceid="630000" data-provincename="青海省">海南藏族自治州</li>
                    <li class="hide" data-cityid="632600" data-cityname="果洛藏族自治州" data-provinceid="630000" data-provincename="青海省">果洛藏族自治州</li>
                    <li class="hide" data-cityid="632700" data-cityname="玉树藏族自治州" data-provinceid="630000" data-provincename="青海省">玉树藏族自治州</li>
                    <li class="hide" data-cityid="632800" data-cityname="海西蒙古族藏族自治州" data-provinceid="630000" data-provincename="青海省">海西蒙古族藏族自治州</li>
                    <li class="hide" data-cityid="640100" data-cityname="银川市" data-provinceid="640000" data-provincename="宁夏回族自治区">银川市</li>
                    <li class="hide" data-cityid="640200" data-cityname="石嘴山市" data-provinceid="640000" data-provincename="宁夏回族自治区">石嘴山市</li>
                    <li class="hide" data-cityid="640300" data-cityname="吴忠市" data-provinceid="640000" data-provincename="宁夏回族自治区">吴忠市</li>
                    <li class="hide" data-cityid="640400" data-cityname="固原市" data-provinceid="640000" data-provincename="宁夏回族自治区">固原市</li>
                    <li class="hide" data-cityid="640500" data-cityname="中卫市" data-provinceid="640000" data-provincename="宁夏回族自治区">中卫市</li>
                    <li class="hide" data-cityid="650100" data-cityname="乌鲁木齐市" data-provinceid="650000" data-provincename="新疆维吾尔自治区">乌鲁木齐市</li>
                    <li class="hide" data-cityid="650200" data-cityname="克拉玛依市" data-provinceid="650000" data-provincename="新疆维吾尔自治区">克拉玛依市</li>
                    <li class="hide" data-cityid="652100" data-cityname="吐鲁番地区" data-provinceid="650000" data-provincename="新疆维吾尔自治区">吐鲁番地区</li>
                    <li class="hide" data-cityid="652200" data-cityname="哈密地区" data-provinceid="650000" data-provincename="新疆维吾尔自治区">哈密地区</li>
                    <li class="hide" data-cityid="652300" data-cityname="昌吉回族自治州" data-provinceid="650000" data-provincename="新疆维吾尔自治区">昌吉回族自治州</li>
                    <li class="hide" data-cityid="652700" data-cityname="博尔塔拉蒙古自治州" data-provinceid="650000" data-provincename="新疆维吾尔自治区">博尔塔拉蒙古自治州</li>
                    <li class="hide" data-cityid="652800" data-cityname="巴音郭楞蒙古自治州" data-provinceid="650000" data-provincename="新疆维吾尔自治区">巴音郭楞蒙古自治州</li>
                    <li class="hide" data-cityid="652900" data-cityname="阿克苏地区" data-provinceid="650000" data-provincename="新疆维吾尔自治区">阿克苏地区</li>
                    <li class="hide" data-cityid="653000" data-cityname="克孜勒苏柯尔克孜自治州" data-provinceid="650000" data-provincename="新疆维吾尔自治区">克孜勒苏柯尔克孜自治州</li>
                    <li class="hide" data-cityid="653100" data-cityname="喀什地区" data-provinceid="650000" data-provincename="新疆维吾尔自治区">喀什地区</li>
                    <li class="hide" data-cityid="653200" data-cityname="和田地区" data-provinceid="650000" data-provincename="新疆维吾尔自治区">和田地区</li>
                    <li class="hide" data-cityid="654000" data-cityname="伊犁哈萨克自治州" data-provinceid="650000" data-provincename="新疆维吾尔自治区">伊犁哈萨克自治州</li>
                    <li class="hide" data-cityid="654200" data-cityname="塔城地区" data-provinceid="650000" data-provincename="新疆维吾尔自治区">塔城地区</li>
                    <li class="hide" data-cityid="654300" data-cityname="阿勒泰地区" data-provinceid="650000" data-provincename="新疆维吾尔自治区">阿勒泰地区</li>
                    <li class="hide" data-cityid="810100" data-cityname="香港岛" data-provinceid="810000" data-provincename="香港特别行政区">香港岛</li>
                    <li class="hide" data-cityid="810200" data-cityname="九龙" data-provinceid="810000" data-provincename="香港特别行政区">九龙</li>
                    <li class="hide" data-cityid="810300" data-cityname="新界" data-provinceid="810000" data-provincename="香港特别行政区">新界</li>
                    <li class="hide" data-cityid="820100" data-cityname="澳门半岛" data-provinceid="820000" data-provincename="澳门特别行政区">澳门半岛</li>
                    <li class="hide" data-cityid="820300" data-cityname="路环岛" data-provinceid="820000" data-provincename="澳门特别行政区">路环岛</li>
                    <li class="hide" data-cityid="820400" data-cityname="凼仔岛" data-provinceid="820000" data-provincename="澳门特别行政区">凼仔岛</li>
                    <li class="hide" data-cityid="830100" data-cityname="台北市" data-provinceid="830000" data-provincename="台湾省">台北市</li>
                    <li class="hide" data-cityid="830200" data-cityname="高雄市" data-provinceid="830000" data-provincename="台湾省">高雄市</li>
                    <li class="hide" data-cityid="830300" data-cityname="台南市" data-provinceid="830000" data-provincename="台湾省">台南市</li>
                    <li class="hide" data-cityid="830400" data-cityname="台中市" data-provinceid="830000" data-provincename="台湾省">台中市</li>
                    <li class="hide" data-cityid="830500" data-cityname="南投县" data-provinceid="830000" data-provincename="台湾省">南投县</li>
                    <li class="hide" data-cityid="830600" data-cityname="基隆市" data-provinceid="830000" data-provincename="台湾省">基隆市</li>
                    <li class="hide" data-cityid="830700" data-cityname="新竹市" data-provinceid="830000" data-provincename="台湾省">新竹市</li>
                    <li class="hide" data-cityid="830800" data-cityname="嘉义市" data-provinceid="830000" data-provincename="台湾省">嘉义市</li>
                    <li class="hide" data-cityid="830900" data-cityname="宜兰县" data-provinceid="830000" data-provincename="台湾省">宜兰县</li>
                    <li class="hide" data-cityid="831000" data-cityname="新竹县" data-provinceid="830000" data-provincename="台湾省">新竹县</li>
                    <li class="hide" data-cityid="831100" data-cityname="桃园县" data-provinceid="830000" data-provincename="台湾省">桃园县</li>
                    <li class="hide" data-cityid="831200" data-cityname="苗栗县" data-provinceid="830000" data-provincename="台湾省">苗栗县</li>
                    <li class="hide" data-cityid="831300" data-cityname="彰化县" data-provinceid="830000" data-provincename="台湾省">彰化县</li>
                    <li class="hide" data-cityid="831400" data-cityname="嘉义县" data-provinceid="830000" data-provincename="台湾省">嘉义县</li>
                    <li class="hide" data-cityid="831500" data-cityname="云林县" data-provinceid="830000" data-provincename="台湾省">云林县</li>
                    <li class="hide" data-cityid="831600" data-cityname="屏东县" data-provinceid="830000" data-provincename="台湾省">屏东县</li>
                    <li class="hide" data-cityid="831700" data-cityname="台东县" data-provinceid="830000" data-provincename="台湾省">台东县</li>
                    <li class="hide" data-cityid="831800" data-cityname="花莲县" data-provinceid="830000" data-provincename="台湾省">花莲县</li>
                    <li class="hide" data-cityid="831900" data-cityname="澎湖县" data-provinceid="830000" data-provincename="台湾省">澎湖县</li>
                    <li class="hide" data-cityid="832000" data-cityname="新北市" data-provinceid="830000" data-provincename="台湾省">新北市</li>
                    <li class="hide" data-cityid="832100" data-cityname="台中县" data-provinceid="830000" data-provincename="台湾省">台中县</li>
                    <li class="hide" data-cityid="832200" data-cityname="连江县" data-provinceid="830000" data-provincename="台湾省">连江县</li>

                </ul>
            </div>
        </div>
        <!--city end-->
        <!--company begin-->
        @*<div class="company hide">
            <div class="left">
                <ul>
                    <li data-companyid="0" data-companyname="" class="cur">全部</li>
                    <li data-companyid="19" data-companyname="移动">中国移动</li>
                    <li data-companyid="20" data-companyname="联通">中国联通</li>
                    <li data-companyid="21" data-companyname="电信">中国电信</li>
                    <li data-companyid="22" data-companyname="虚商">虚拟运营商</li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li data-companyid="0" data-prefixnum="">全部</li>

                    <li data-companyid="20" data-prefixnum="130">130</li>

                    <li data-companyid="20" data-prefixnum="131">131</li>

                    <li data-companyid="20" data-prefixnum="132">132</li>

                    <li data-companyid="21" data-prefixnum="133">133</li>

                    <li data-companyid="19" data-prefixnum="134">134</li>

                    <li data-companyid="19" data-prefixnum="135">135</li>

                    <li data-companyid="19" data-prefixnum="136">136</li>

                    <li data-companyid="19" data-prefixnum="137">137</li>

                    <li data-companyid="19" data-prefixnum="138">138</li>

                    <li data-companyid="19" data-prefixnum="139">139</li>

                    <li data-companyid="20" data-prefixnum="145">145</li>

                    <li data-companyid="19" data-prefixnum="147">147</li>

                    <li data-companyid="19" data-prefixnum="150">150</li>

                    <li data-companyid="19" data-prefixnum="151">151</li>

                    <li data-companyid="19" data-prefixnum="152">152</li>

                    <li data-companyid="21" data-prefixnum="153">153</li>

                    <li data-companyid="20" data-prefixnum="155">155</li>

                    <li data-companyid="20" data-prefixnum="156">156</li>

                    <li data-companyid="19" data-prefixnum="157">157</li>

                    <li data-companyid="19" data-prefixnum="158">158</li>

                    <li data-companyid="19" data-prefixnum="159">159</li>

                    <li data-companyid="21" data-prefixnum="162">162</li>

                    <li data-companyid="19" data-prefixnum="165">165</li>

                    <li data-companyid="20" data-prefixnum="166">166</li>

                    <li data-companyid="20" data-prefixnum="167">167</li>

                    <li data-companyid="21" data-prefixnum="1700">1700</li>

                    <li data-companyid="21" data-prefixnum="1701">1701</li>

                    <li data-companyid="21" data-prefixnum="1702">1702</li>

                    <li data-companyid="19" data-prefixnum="1703">1703</li>

                    <li data-companyid="20" data-prefixnum="1704">1704</li>

                    <li data-companyid="19" data-prefixnum="1705">1705</li>

                    <li data-companyid="19" data-prefixnum="1706">1706</li>

                    <li data-companyid="20" data-prefixnum="1707">1707</li>

                    <li data-companyid="20" data-prefixnum="1708">1708</li>

                    <li data-companyid="20" data-prefixnum="1709">1709</li>

                    <li data-companyid="20" data-prefixnum="171">171</li>

                    <li data-companyid="19" data-prefixnum="172">172</li>

                    <li data-companyid="21" data-prefixnum="173">173</li>

                    <li data-companyid="20" data-prefixnum="175">175</li>

                    <li data-companyid="20" data-prefixnum="176">176</li>

                    <li data-companyid="21" data-prefixnum="177">177</li>

                    <li data-companyid="19" data-prefixnum="178">178</li>

                    <li data-companyid="21" data-prefixnum="180">180</li>

                    <li data-companyid="21" data-prefixnum="181">181</li>

                    <li data-companyid="19" data-prefixnum="182">182</li>

                    <li data-companyid="19" data-prefixnum="183">183</li>

                    <li data-companyid="19" data-prefixnum="184">184</li>

                    <li data-companyid="20" data-prefixnum="185">185</li>

                    <li data-companyid="20" data-prefixnum="186">186</li>

                    <li data-companyid="19" data-prefixnum="187">187</li>

                    <li data-companyid="19" data-prefixnum="188">188</li>

                    <li data-companyid="21" data-prefixnum="189">189</li>

                    <li data-companyid="21" data-prefixnum="191">191</li>

                    <li data-companyid="19" data-prefixnum="198">198</li>

                    <li data-companyid="21" data-prefixnum="199">199</li>

                </ul>
            </div>
        </div>*@
        <!--company end-->
        <!--featrue begin-->
        <div class="featrue hide">
            <div class="left">
                <ul>
                    <li data-pos="" class="cur">不限位置</li>
                    @*<li data-pos="m">中间规律</li>
                    <li data-pos="e">尾数规律</li>*@
                </ul>
            </div>
            <div class="right">
                <ul>

                    <li data-fval="">全部</li>
                    <li data-fval="0">超级精品号</li>
                    <li data-fval="1">6A</li>
                    <li data-fval="2">5A</li>
                    <li data-fval="3">4A</li>
                    <li data-fval="11">3A(0-5)</li>
                    <li data-fval="12">3A(6-9)</li>
                    <li data-fval="4">双豹子(0-5)</li>
                    <li data-fval="5">ABCDE</li>
                    <li data-fval="6">ABCD</li>
                    <li data-fval="7">ABC</li>
                    <li data-fval="9">ABCDEF</li>
                    <li data-fval="13">大循环</li>
                    <li data-fval="14">四拖一</li>
                    <li data-fval="15">五拖一</li>
                    <li data-fval="16">ABACAD</li>
                    <li data-fval="17">ABABAB(AB)</li>
                    <li data-fval="18">六拖一</li>
                    <li data-fval="19">AABBCC（DD）</li>
                    <li data-fval="20">双豹子(6-9)</li>
                    <li data-fval="21">超级精品其他</li>
                    <li data-fval="22">超级精品7-8A</li>
                    <li data-fval="23">超级精品7顺-9顺</li>
                    <li data-fval="24">超级精品6A-4A</li>
                    <li data-fval="903">经典区号3A</li>
                    <li data-fval="902">经典区号4A</li>
                    <li data-fval="901">经典区号5（6）A</li>
                    <li data-fval="904">经典区号ABCD（EF）</li>
                    <li data-fval="905">经典区号四（五六）拖一</li>
                    <li data-fval="906">经典区号个性号</li>
                    <li data-fval="1004">打包3A</li>
                    <li data-fval="1003">打包4A</li>
                    <li data-fval="1005">打包ABCD</li>
                    <li data-fval="1001">打包108</li>
                    <li data-fval="1002">打包118</li>
                    <li data-fval="1006">打包AABB（CCDD）</li>
                    <li data-fval="1008">打包ABC</li>
                    <li data-fval="1007">打包三（四五）拖一</li>
                    <li data-fval="1009">打包ABAB（ABAB）</li>
                    <li data-fval="50">其他靓号</li>
                    <li data-fval="907">经典区号官号</li>
                    <li data-fval="908">经典区号情侣号</li>
                    <li data-fval="909">经典区号DCBA</li>
                    <li data-fval="910">经典区号AABB</li>
                    <li data-fval="911">经典区号ABC</li>
                    <li data-fval="912">经典区号AAAB</li>
                    <li data-fval="913">经典区号ABAB</li>
                    <li data-fval="914">经典区号年份（生日）号</li>
                    <li data-fval="915">经典区号双对子（6789）</li>
                    <li data-fval="916">经典区号ABBA</li>
                    <li data-fval="917">经典区号其他</li>
                    <li data-fval="1211">各地区号</li>
                    <li data-fval="1201">倒顺子</li>
                    <li data-fval="1202">三拖一</li>
                    <li data-fval="1203">170(171、165)组合</li>
                    <li data-fval="1204">AABB</li>
                    <li data-fval="1205">ABAB</li>
                    <li data-fval="1206">个性号码</li>
                    <li data-fval="1207">表白号码</li>
                    <li data-fval="1208">年份(生日）号</li>
                    <li data-fval="1209">精品AA</li>
                    <li data-fval="1210">拖二</li>
                    <li data-fval="1301">秒杀专区AAA</li>
                    <li data-fval="1302">秒杀专区AAAA</li>
                    <li data-fval="1303">秒杀专区AAAAA</li>
                    <li data-fval="1304">秒杀专区ABCD</li>
                    <li data-fval="1305">秒杀专区ABAB</li>
                    <li data-fval="1306">秒杀专区AAAB</li>
                    <li data-fval="1307">秒杀专区AABB</li>
                    <li data-fval="1308">秒杀专区ABC</li>
                    <li data-fval="1309">秒杀专区-个性号</li>
                    <li data-fval="1310">秒杀专区-其他靓号</li>

                </ul>
            </div>
        </div>
        <!--featrue end-->
        <!--more begin-->
        <div class="filter-more hide">
            <div class="tit">价格</div>
            <ul class="clearfix price">

                <li data-val="">全部</li>

                <li data-val="-300">300以下</li>

                <li data-val="301-500">301-500</li>

                <li data-val="501-1000">501-1000</li>

                <li data-val="1001-2000">1001-2000</li>

                <li data-val="2001-5000">2001-5000</li>

                <li data-val="5001-10000">5001-10000</li>

                <li data-val="10001-20000">1-2万</li>

                <li data-val="20001-30000">2-3万</li>

                <li data-val="30001-50000">3-5万</li>

                <li data-val="50001-70000">5-7万</li>

                <li data-val="70001-100000">7-10万</li>

                <li data-val="100000-">10万以上</li>

            </ul>
            <div class="tit">排除</div>
            <ul class="clearfix except">

                <li data-val="">不限</li>

                <li data-val="e0">不带0</li>

                <li data-val="e2">不带2</li>

                <li data-val="e3">不带3</li>

                <li data-val="e4">不带4</li>

                <li data-val="e5">不带5</li>

                <li data-val="e6">不带6</li>

                <li data-val="e7">不带7</li>

                <li data-val="e8">不带8</li>

                <li data-val="e9">不带9</li>

            </ul>
            <div style="height:40px;"></div>
            <div class="filter-more-btn">
                <div class="reset">重置</div>
                <div class="submit">确定</div>
            </div>
        </div>
        <!--more end-->

        <div class="filter-Operator hide">
            <div class="left">
                <ul>
                    <li data-pos="" class="cur">网络</li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li data-fval="移动网络">移动网络</li>
                    <li data-fval="联通网络">联通网络</li>
                    <li data-fval="电信网络">电信网络</li>
                </ul>
            </div>
        </div>
        <div class="filter-order hide">
            <div class="left">
                <ul>
                    <li data-pos="" class="cur">排序</li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li data-fval="0">默认排序</li>
                    <li data-fval="1">价格从低到高</li>
                    <li data-fval="2">价格从高到低</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="height:91px;"></div>
    <!--header end-->
    <!--list begin-->
    <div class="box-mt hasresult hide list-main" id="hasresult">
        <ul class="" id="data"></ul>
        <div class="loadmore">加载更多</div>
    </div>
    <!--list end-->
    <!--noresult begin-->
    <div class="noresult hide">
        <div><img src="~/Content/images/iocn/cry2.png" /></div>
        <div>没有找到号码哦，请更改查询条件</div>
    </div>
    <!--noresult end-->

    <div class="loading hide">
        <span>加载中...</span>
    </div>

    <div class="fav-nav"></div>

    <div class="gotop hide"><img src="~/Content/images/iocn/top2.png" /></div>
    <!--kw搜索-->
    <div class="kw-section hide">
        <div class="top-bar top-bar-shade top-bar-small clearfix">
            <div class="col10"><a href="javascript:hideKwSection();"><i class="icon iconfont icon-jiantou25"></i></a></div>
            <div class="col80">号码搜索</div>
            @*<div class="col10"><a href="nav.aspx"><i class="icon iconfont icon-daohang"></i></a></div>*@
        </div>
        <div class="alt-tabs">
            <div class="head">
                <div class="alt-tabs-head cur" id="kwtit1">模糊搜索</div>
                <div class="alt-tabs-head" id="kwtit2">按位搜索</div>
            </div>
            <div class="content">
                <div class="alt-tabs-content kw1">
                    <div><input type="tel" value="" id="kw" maxlength="11" /></div>
                    <div class="ckb-group">
                        <input id="cbIsEnd" type="checkbox" /><label for="ckbIsEnd">搜尾号</label>
                    </div>
                </div>
                <div class="alt-tabs-content hide kw2">
                    <div class="searchNum" id="searchNum">
                        <input type="tel" maxlength="1" value="1" readonly="readonly" />
                        <input type="tel" maxlength="1" value="" />
                        <input type="tel" maxlength="1" value="" />
                        <input type="tel" maxlength="1" value="" />
                        <input type="tel" maxlength="1" value="" />
                        <input type="tel" maxlength="1" value="" />
                        <input type="tel" maxlength="1" value="" />
                        <input type="tel" maxlength="1" value="" />
                        <input type="tel" maxlength="1" value="" />
                        <input type="tel" maxlength="1" value="" />
                        <input type="tel" maxlength="1" value="" />
                    </div>
                    <div class="tips">Tips:不确定请留空</div>
                </div>

            </div>
            <div class="btn-submit">搜索</div>
        </div>
    </div>
    <!--kw搜索-->
    <div class="footer-line cl"></div>
    <footer>
        <ul>
            <li style="width: 25%;">
                <a href="index?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                    <img src="/ContentNew/images/footer-ico1.png" alt="">
                    <p>首页</p>
                </a>
            </li>
            <li style="width: 25%;">
                <a href="tel:@ViewBag.Tel">
                    <img src="/ContentNew/images/footer-ico2.png" alt="">
                    <p>电话咨询</p>
                </a>
            </li>
            <li class="cur" style="width: 25%;">
                <a href="List?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                    <img src="/ContentNew/images/footer-ico3-cur.png" alt="">
                    <p>选号</p>
                </a>
            </li>
            <li style="width: 25%;">
                <a href="QrCode?organizeId=@ViewBag.organizeId">
                    <img src="~/Content/images/er.png" />
                    <p>二维码</p>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>
<script src="~/Content/statics/js/jquery.js"></script>
<script src="~/Content/statics/js/jquery.cookie.js"></script>
<script src="~/Content/statics/js/changestyle.js"></script>
<script src="~/Content/statics/plus/alt_tabs.js"></script>
<script src="~/Content/Scripts/utils/hzsoft-ui.js" type="text/javascript"></script>

<script src="~/Content/layer2/layer.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        var url = window.location.href;
        if (url.indexOf("&amp;") > -1) {
            location.href = url.replace(RegExp("&amp;", "g"), "&");
            //location.href =url.replace("&amp;","&");//替换第一个
        }
    });

    /*var*/
    //var totalpage=0;
    var company = '', frontNumber = '', features = '',
        repeatNumber = '', moreNumber = '', month = '',
        except = '', price = '', city = '',
        type = 'mb', pos = '', keyword = '', cat = '', Operator = '';
    var islease = 0;
    var orderType = '';
    var ExistMark = '';
    /*var*/

    var organizeId = request('organizeId');
    city = request('city');
    keyword = request('keyword');
    orderType = request('orderType');
    price = request('price');
    Operator = request('Operator');
    except = request('except');
    features = request('features');
    ExistMark = request('ExistMark');



    //if (city != '') {
    //    $(".filter-bar-city").html(substr(city, 0, 3, true));
    //}

    /*init*/
    if (city != '') {
        var objCity = $(".city .right li[data-cityid='" + city + "']");
        var provinceid;
        if ($(objCity).length == 0) { //省份
            provinceid = city;
            var objp = $(".city .left li[data-provinceid='" + provinceid + "']");
            $(".filter-bar-city").html(substr($(objp).text(), 0, 3, true));
        }
        else if ($(objCity).length == 1) { //城市
            provinceid = $(objCity).data("provinceid");
            $(".filter-bar-city").html(substr($(objCity).data("cityname"), 0, 3, true));
        }
        $(".city .right li[data-provinceid='" + provinceid + "']").show();
        $(".city .left li").removeClass("cur");
        $(".city .left li[data-provinceid='" + provinceid + "']").addClass("cur");
    }
    if (company > 0) {
        var obj = $(".company .left li[data-companyid='" + company + "']");
        $(obj).addClass("cur").siblings().removeClass("cur");
        $(".company .right li[data-companyid='" + company + "']").show();
        $(".company .right li[data-companyid!='" + company + "']").hide();
        $(".company .right li[data-companyid='0']").show();
        $(".filter-bar-company").html($(obj).data("companyname"));
    }
    if (features != '' && features.indexOf(',') < 0) {
        $(".filter-bar-featrue").html(substr($(".featrue .right li[data-fval='" + features + "']").html(), 0, 5, true));
        $(".featrue .right li[data-fval='" + features + "']").addClass("cur");
    }
    if (price != '') {
        $(".filter-more .price li[data-val='" + price + "']").addClass("cur");
    }
    if (except != '') {
        $(".filter-more .except li[data-val='" + except + "']").addClass("cur");
    }
    
    if (orderType != '') {
        $(".filter-bar-order").html(substr($(".filter-order li[data-fval='" + orderType + "']").html(), 0, 5, true));
    }

    if (Operator != '') {
        $(".filter-bar-Operator").html($(".filter-Operator li[data-fval='" + Operator + "']"));
    }

    var _kw = keyword;
    if (_kw != '' && _kw != 'undefined') {
        $("#topkw").val(_kw.replace('|', '尾号').replace(/_/ig, '*'));
        if (_kw.indexOf('_') > -1) {
            var o = document.getElementById('searchNum').getElementsByTagName('input');
            for (i = 0; i < o.length; i++) {
                var t = _kw.charAt(i);
                if (t != '' && t != '_') {
                    o[i].value = t;
                }
            }
            //$("#kwtit2").click();
        }
        else {
            $("#kw").val(_kw.replace('|', ''));
            if (_kw.indexOf('|') > -1) { $("#cbIsEnd").attr('checked', true); }
            //$("#kwtit1").click();
        }
    }

    if (type == 'tel') {
        $(".alt-tabs .head").hide();
        $(".company .right").hide();
        $(".company .left").width("100%");
    }
    /*init*/

    /*action*/
    $("#searchNum input").keyup(function (event) {
        switch (event.which) {
            case 8: //back
                $(this).prev().focus(); break;
            case 37: //left
                $(this).prev().focus(); break;
            case 39: //right
                $(this).next().focus(); break;
            default:
                var t = $(this).val();
                var reg = /[\d]/g;
                if (reg.test(t)) {
                    $(this).next().focus();
                }
                else {
                    t = t.replace(/[^\d]/g, '');
                    $(this).val(t);
                }
                break;
        }
    });

    function searchBykw() {
        var _kw = '';
        if ($("#kwtit1").hasClass('cur')) {
            _kw = $("#kw").val();
            if (_kw != '') {
                if ($("#cbIsEnd").is(':checked')) { _kw += "|"; }
            }
        } else {
            var o = document.getElementById('searchNum').getElementsByTagName('input');
            for (i = 0; i < o.length; i++) {
                if (o[i].value == '') {
                    _kw += '_';
                }
                else {
                    _kw += o[i].value;
                }
            }
        }
        if (_kw != '' && _kw != '1__________') {
            //do search
            keyword = _kw;
            so2();
        }
        else {
            //未输入关键字
        }
    }

    $(".kw-section .btn-submit").click(function () {
        searchBykw();
    })


    $(".filter-bar > div").click(function () {
        if ($(this).hasClass("nav-sel")) {
            hideAllFilterItem();
        }
        else {
            $(this).siblings().removeClass("nav-sel");
            $(this).addClass("nav-sel");
            $(".mask").show();
            $(".filter-pop").show();
            $(".filter-pop > div").hide().eq($(this).index()).show();
        }
    })

    function hideAllFilterItem() {
        $(".mask").hide();
        $(".filter-pop").hide();
        $(".filter-bar > div").removeClass("nav-sel");
    }

    $(".mask").click(function () {
        hideAllFilterItem();
    })

    //归属地
    $(".city .left li").click(function () {
        $(this).siblings().removeClass("cur");
        $(this).addClass("cur");
        $(".city .right li[data-provinceid='" + $(this).data("provinceid") + "']").show();
        $(".city .right li[data-provinceid!='" + $(this).data("provinceid") + "']").hide();
        $(".city .right li[data-cityid='0']").show();
    })
    $(".city .right li").click(function () {
        city = $(this).data("cityid");
        if (city == '0') {
            city = $(".city .left .cur").data("provinceid");
            var pname = $(".city .left .cur").text();
            if (pname == '' || pname == '全部') { pname = '归属地'; }
            $(".filter-bar-city").html(substr(pname, 0, 3, true)).removeClass("nav-sel");
        } else {
            $(".filter-bar-city").html(substr($(this).data("cityname"), 0, 3, true)).removeClass("nav-sel");
        }
        hideAllFilterItem();
        //do search
        reload();
    })

    //运营商
    $(".company .left li").click(function () {
        $(this).siblings().removeClass("cur");
        $(this).addClass("cur");
        if (type == "tel") {
            company = $(this).data("companyid");
            hideAllFilterItem();
            reload();
        } else {
            if ($(this).data("companyid") == "0") {
                $(".company .right li").show();
            } else {
                $(".company .right li[data-companyid='" + $(this).data("companyid") + "']").show();
                $(".company .right li[data-companyid!='" + $(this).data("companyid") + "']").hide();
                $(".company .right li[data-companyid='0']").show();
            }
        }
    })
    $(".company .right li").click(function () {
        frontNumber = $(this).data("prefixnum");
        if (frontNumber == '') {
            company = $(".company .left .cur").data("companyid");
            var pname = $(".company .left .cur").data("companyname");
            if (pname == '' || pname == '全部') { pname = '运营商'; }
            $(".filter-bar-company").html(substr(pname, 0, 4, true)).removeClass("nav-sel");
        } else {
            var tit = $(this).data("prefixnum").toString();
            tit = substr(tit, 0, 4, true);
            $(".filter-bar-company").html(tit).removeClass("nav-sel");
        }
        hideAllFilterItem();
        //do search
        reload();
    })

    //规律
    $(".featrue .left li").click(function () {
        $(this).siblings().removeClass("cur");
        $(this).addClass("cur");
        pos = $(this).data("pos");
    })
    $(".featrue .right li").click(function () {
        $(this).siblings().removeClass("cur");
        $(this).addClass("cur");
        features = $(this).data("fval");
        if (features == '') {
            $(".filter-bar-featrue").html('规律').removeClass("nav-sel");
        } else {
            $(".filter-bar-featrue").html(substr($(this).text(), 0, 5, true)).removeClass("nav-sel");
        }
        hideAllFilterItem();
        //do search
        reload();
    })

    //更多筛选
    $(".filter-more li").click(function () {
        $(this).siblings().removeClass("cur");
        $(this).addClass("cur");
    })

    $(".filter-more-btn .submit").click(function () {
        price = $(".filter-more .price .cur").data("val") || '';
        except = $(".filter-more .except .cur").data("val") || '';
        hideAllFilterItem();
        //do search
        reload();
    })

    $(".filter-more-btn .reset").click(function () {
        $(".filter-more li").removeClass("cur");
        price = '';
        except = '';
        hideAllFilterItem();
        //do search
        reload();
    })

    //排序
    $(".filter-order .right li").click(function () {
        $(this).siblings().removeClass("cur");
        $(this).addClass("cur");
        orderType = $(this).data("fval");
        if (orderType == '') {
            $(".filter-bar-order").html('排序').removeClass("nav-sel");
        } else {
            $(".filter-bar-order").html(substr($(this).text(), 0, 5, true)).removeClass("nav-sel");
        }
        hideAllFilterItem();
        //do search
        reload();
    })


    //网络
    $(".filter-Operator .right li").click(function () {
        $(this).siblings().removeClass("cur");
        $(this).addClass("cur");
        Operator = $(this).data("fval");
        if (Operator == '') {
            $(".filter-bar-Operator").html('网络').removeClass("nav-sel");
        } else {
            $(".filter-bar-Operator").html($(this).text()).removeClass("nav-sel");
        }
        hideAllFilterItem();
        //do search
        reload();
    })
    /*action*/

    /*function*/

    function so2() {
        //var url = '/webapp/m-list.aspx?cat=' + cat + '&company=' + company + '&frontNumber=' + frontNumber + '&features=' + features + '&repeatNumber=' + repeatNumber + '&moreNumber=' + moreNumber + '&month=' + month + '&except=' + except + '&price=' + price + '&city=' + city + '&type=' + type + '&pos=' + pos + '&keyword=' + keyword + '&page=' + curpage + '&islease=' + islease + '&o=' + orderType + '&yy=' + Operator;
        var url = 'List?organizeId=' + organizeId + '&city=' + city + '&keyword=' + keyword + '&page=' + curpage + '&features=' + features + '&orderType=' + orderType + '&price=' + price + '&except=' + except + '&Operator=' + Operator + '&ExistMark=' + ExistMark;
        location.href = url;
    }

    function so() {
        $(".loading").css("display", "flex");
        //var queryJson = {
        //    keyword: keyword,
        //    organizeId: organizeId,
        //    city: city
        // }
        //var url = '/Liang/ListData?cat=' + cat + '&company=' + company + '&frontNumber=' + frontNumber + '&features=' + features + '&repeatNumber=' + repeatNumber + '&moreNumber=' + moreNumber + '&month=' + month + '&except=' + except + '&price=' + price + '&city=' + city + '&type=' + type + '&pos=' + pos + '&keyword=' + keyword + '&page=' + curpage + '&islease=' + islease + '&o=' + orderType + '&yy=' + Operator;
        var url = '/Liang/ListData?organizeId=' + organizeId + '&city=' + city + '&keyword=' + keyword + '&page=' + curpage + '&features=' + features + '&orderType=' + orderType + '&price=' + price + '&except=' + except + '&Operator=' + Operator + '&ExistMark=' + ExistMark;
        $.get(url, function (result) {
            if (result == '') {
                if (curpage == 1) {
                    $(".noresult").show();
                } else {
                    $(".loadmore").html('没有了');
                }
            }
            else {
                result = SetMobileStyle_(1, result);
                $("#data").append(result);
                if (curpage == 1) {
                    $("#hasresult").show();
                    if ($("#hasresult ul li").length % 40 == 0) { $(".loadmore").show(); }
                }
            }
            $(".loading").css("display", "none");
        });
    }

    $(".loadmore").click(function () {
        curpage = curpage + 1;
        so();
    });

    function reload() {
        $("#hasresult").hide();
        $(".noresult").hide();
        $("#data li").remove();
        $(".loadmore").hide();
        curpage = 1;
        so();//执行的初始化数据查询
    }

    reload();//这里执行初次

    function substr(str, start, stop, dot) {
        var re = str.substring(start, stop);
        if (dot) {
            if (str.length - 1 > stop - 1) {
                re = re.substring(0, re.length - 1) + '..';//减少一个字再加...
            }
        }
        return re;
    }
    /*function*/

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight == scrollHeight && scrollTop > 0) {
            $(".loadmore").click();
        }
        if (scrollTop > 200) { $(".gotop").show(); } else { $(".gotop").hide(); }
    });

    $(".gotop").click(function () {
        document.documentElement.scrollTop = document.body.scrollTop = 0;
    })

    $(document).ready(function () {
        $('.alt-tabs').alt_tabs({ action: 'click' });
    });

    function showKwSection() { $(".kw-section").show(); $(".kw-section .alt-tabs-head:first-child").click(); $(".kw-section .kw1 input[type=number]").focus(); }
    function hideKwSection() { $(".kw-section").hide(); }

    //SetMobileStyle(1);

    $(".return").click(function () {
        location.href = "Index?organizeId=" + organizeId + "&city=" + city;
    })

    function f_search(telphoneId) {
        $.ajax({
            url: "/WeChatManage/Liang/SearchTelId",
            type: "POST",
            data: { telphoneId: telphoneId, organizeId: organizeId, city: city, rnd: Math.random() },
            success: function (data) {
                var dataresult = JSON.parse(data);
                var result = dataresult.entity;
                if (result == null) {
                    layer.alert('无此号码', {
                        skin: 'layui-layer-molv', closeBtn: 0
                    });
                }
                else {
                    if (dataresult.state == 0) {
                        //本机构0,1，可看核算价，可编辑下架
                        layer.confirm('存在此号码：' + result.Telphone + '(' + result.Description + ')' + '<br/>【归属地】：' + result.City + result.Operator +
                            '<br/>【售价】：' + result.Price + '<br/>【成本】：' + result.MinPrice + '<br/>【利润】：' + result.ChaPrice + '<br/>【核算价】：' + result.CheckPrice + '<br/>【套餐】：' + result.Package + '<br/>是否继续编辑此号码？', {
                                btn: ['是', '否'] //按钮
                            }, function () {
                                window.location = "/WeChatManage/Liang/SearchForm?keyValue=" + result.TelphoneID + "&organizeId=" + organizeId;
                            });
                    }
                    else if (dataresult.state == 1) {
                        //其它共享平台机构0级，可看核算价，不可编辑
                        layer.alert('存在此号码：' + result.Telphone + '(' + result.Description + ')' + '<br/>【归属地】：' + result.City + result.Operator +
                            '<br/>【售价】：' + result.Price + '<br/>【成本】：' + result.MinPrice + '<br/>【利润】：' + result.ChaPrice + '<br/>【核算价】：' + result.CheckPrice + '<br/>【套餐】：' + result.Package, {
                                skin: 'layui-layer-molv'
                                , closeBtn: 0
                            });
                    }
                    else if (dataresult.state == 2) {
                        //2级，可看成本价，不可编辑下架
                        layer.alert('存在此号码：' + result.Telphone + '(' + result.Description + ')' + '<br/>【归属地】：' + result.City + result.Operator +
                            '<br/>【售价】：' + result.Price + '<br/>【成本】：' + result.MinPrice + '<br/>【利润】：' + result.ChaPrice + '<br/>【套餐】：' + result.Package, {
                                skin: 'layui-layer-molv'
                                , closeBtn: 0
                            });
                    }
                    else {
                        //3级不能查看低价
                        layer.confirm('存在此号码：' + result.Telphone + '(' + result.Description + ')' + '<br/>【归属地】：' + result.City + result.Operator +
                            '<br/>【价格】：' + result.Price + '<br/>【套餐】：' + result.Package + '<br/>是否电话咨询？', {
                                btn: ['是', '否'] //按钮
                            }, function () {
                                window.location = "tel:" + dataresult.tel;
                            });
                    }
                }
            },
            error: function () {

            }
        });
    }
    $(".fav-nav").click(function () {
        var url = 'HaoDan?organizeId=' + organizeId + '&city=' + city + '&keyword=' + keyword + '&page=' + curpage + '&features=' + features + '&orderType=' + orderType + '&price=' + price + '&except=' + except + '&Operator=' + Operator + '&ExistMark=' + ExistMark;
        location.href = url;
    })

</script>
