@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<script src="~/Content/layui/layui.js"></script>
<style>
    img {
        max-width: 550px;
        max-height: 250px;
        height: auto;
        zoom: expression( function(e) {
    if(e.width>e.height) {if (e.width>550) { e.height = e.height*(250 /e.width); e.width=550; }}
    else {if (e.height>250) { e.width = e.width*(550 /e.height); e.height=250; }}
    e.style.zoom = '1';     }(this));
        overflow: hidden;
    }
</style>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        layui.use('upload', function () {
            var $ = layui.jquery
                , upload = layui.upload;
            //拖拽上传
            upload.render({
                elem: ".upload"
                , url: '/BaseManage/Wechat_Agent/UploadPicture'
                , done: function (data) {
                    console.log(data);
                    if (data.Success) {
                        this.item
                        $("#" + this.item.context.id).attr("imgsrc", data.Message).html("<img src='" + data.Message + "' class='img' />");
                    } else {
                        layer.alert('上传失败:' + data.Message, {
                            skin: 'layui-layer-molv', closeBtn: 0
                        });
                    }
                }
                , error: function () {
                    layer.alert('上传异常', {
                        skin: 'layui-layer-molv', closeBtn: 0
                    });
                }
            });
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../BaseManage/Wechat_Agent/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                    if (data.banner != undefined) {
                        $("#UploadBanner").attr("imgsrc", data.banner).html("<img src='" + data.banner + "' class='img' />");
                    }
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        postData["banner"] = $("#UploadBanner").attr("imgsrc");
        $.SaveForm({
            url: "../../BaseManage/Wechat_Agent/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">编号</td>
            <td class="formValue">
                <input id="Id" type="text" class="form-control" disabled/>
            </td>
            <td class="formTitle">微信昵称</td>
            <td class="formValue">
                <input id="nickname" type="text" class="form-control" disabled/>
            </td>
        </tr>
        <tr>
            <td class="formTitle">省</td>
            <td class="formValue">
                <input id="Province" type="text" class="form-control" disabled/>
            </td>
            <td class="formTitle">市</td>
            <td class="formValue">
                <input id="City" type="text" class="form-control" disabled/>
            </td>
        </tr>
        <tr>
            <td class="formTitle">级别</td>
            <td class="formValue">
                <input id="LV" type="text" class="form-control" disabled />
            </td>
            <td class="formTitle">姓名</td>
            <td class="formValue">
                <input id="realname" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">联系电话</td>
            <td class="formValue">
                <input id="contact" type="text" class="form-control" >
            </td>
            <td class="formTitle">支付宝</td>
            <td class="formValue">
                <input id="alipay" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">佣金</td>
            <td class="formValue">
                <input id="profit" type="text" class="form-control" disabled/>
            </td>
            <td class="formTitle">提现</td>
            <td class="formValue">
                <input id="Cashout" type="text" class="form-control" disabled />
            </td>
        </tr>
        <tr>
            <td class="formTitle">上级</td>
            <td class="formValue">
                <input id="Pid" type="text" class="form-control" />
            </td>
            <td class="formTitle">顶级</td>
            <td class="formValue">
                <input id="Tid" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formValue" colspan="4" style="text-align:center">
                <input id="banner" type="hidden" class="form-control" />
                <div class="layui-upload-drag upload" id="UploadBanner" style="width:550px;height:250px">
                    <i class="layui-icon">v</i>
                    <p>点击上传商城首图</p>
                </div>
            </td>
        </tr>
    </table>
</div>
