
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="会员中心 - 号运来靓号网">
    <title>会员中心 - 号运来靓号网</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/assets/wap/css/weui.min.css?v=6.5" rel="stylesheet">
    <link href="/assets/wap/css/weui.min.jquery.css?v=6.5" rel="stylesheet">
    <link href="/assets/wap/css/global.css?v=6.5" rel="stylesheet">
    <link href="/assets/wap/css/user.css?v=6.5" rel="stylesheet">
    <script type="text/javascript">
	var baseUrl = '';
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="plus">
            <div class="vision">
                <div class="s_mide layer" data-depth=".35"></div>
                <div class="s_botm layer" data-depth-x=".1" data-depth-y=".08"></div>
                <div class="s_botm layer" data-depth-x=".18" data-depth-y=".15"></div>
            </div>
            <div class="user-block">
                <div class="user"><img src="/assets/res/images/avatar.jpg" /><span>HvsDQkeB</span><small>普通代理</small></div>
            </div>
        </div>
        <div class="weui-cells__title">我的订单</div>
        <div class="weui-grids">
            <a href="/WeChatManage/user_order/index/status-1.html" class="weui-grid js_grid weui-grid-cols5">
                <div class="weui-grid__icon"><img src="/assets/wap/images/user/icon_1.png"></div>
                <p class="weui-grid__label">待付款</p>
                <span class="weui-badge" style="position: absolute;top:1em;right:1em;">0</span>
            </a>
            <a href="/WeChatManage/user_order/index/status-2.html" class="weui-grid js_grid weui-grid-cols5">
                <div class="weui-grid__icon"><img src="/assets/wap/images/user/icon_1.png"></div>
                <p class="weui-grid__label">待审核</p>
                <span class="weui-badge" style="position: absolute;top:1em;right:1em;">0</span>
            </a>
            <a href="/WeChatManage/user_order/index/status-3.html" class="weui-grid js_grid weui-grid-cols5">
                <div class="weui-grid__icon"><img src="/assets/wap/images/user/icon_2.png"></div>
                <p class="weui-grid__label">待发货</p>
                <span class="weui-badge" style="position: absolute;top:1em;right:1em;">0</span>
            </a>
            <a href="/WeChatManage/user_order/index/status-4.html" class="weui-grid js_grid weui-grid-cols5">
                <div class="weui-grid__icon"><img src="/assets/wap/images/user/icon_3.png"></div>
                <p class="weui-grid__label">待开卡</p>
                <span class="weui-badge" style="position: absolute;top:1em;right:1em;">0</span>
            </a>
            <a href="/WeChatManage/user_order/index/status-5.html" class="weui-grid js_grid weui-grid-cols5">
                <div class="weui-grid__icon"><img src="/assets/wap/images/user/icon_4.png"></div>
                <p class="weui-grid__label">已完成</p>
                <span class="weui-badge" style="position: absolute;top:1em;right:1em;">0</span>
            </a>
        </div>
        <div class="section-panel">
            <div class="weui-cells__title">用户中心</div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="/WeChatManage/user_basic/">
                    <div class="weui-cell__bd"><p><i class="i1"></i><em>个人资料</em></p></div>
                    <div class="weui-cell__ft"></div>
                </a>
                <a class="weui-cell weui-cell_access" href="/WeChatManage/user_msg/index/flg-0.html">
                    <div class="weui-cell__bd"><p><i class="i5"></i><em>站内通知</em></p></div>
                    <div class="weui-cell__ft">0未读</div>
                </a>
                <a class="weui-cell weui-cell_access" href="/WeChatManage/user_address/">
                    <div class="weui-cell__bd"><p><i class="i16"></i><em>配送地址</em></p></div>
                    <div class="weui-cell__ft"></div>
                </a>
                @*<a class="weui-cell weui-cell_access" href="/WeChatManage/user_basic/auth/">
                    <div class="weui-cell__bd"><p><i class="i6"></i><em>账户绑定</em></p></div>
                    <div class="weui-cell__ft"></div>
                </a>*@
                <a class="weui-cell weui-cell_access" href="/WeChatManage/user_basic/password">
                    <div class="weui-cell__bd"><p><i class="i7"></i><em>修改密码</em></p></div>
                    <div class="weui-cell__ft"></div>
                </a>
            </div>
        </div>

        <div class="weui-btn-area" style="padding:0 0.5rem;"><a class="weui-btn weui-btn_default btnLogOut" href="javascript:">退出登录</a></div>
    </div>
    <!--主体部分 结束-->
    <!-- <div class="weui-footer"> -->
    <!--     <div class="weui-footer__text"><p>Copyright © 2018 All Rights Reserved<br />济宁云联信息科技有限公司 鲁ICP备13024714号</p></div> -->
    <!-- </div> -->
    <div class="sstmb"></div>
    <div class="weui-tabbar">
        <a href="/WeChatManage/mpg/index" class="weui-tabbar__item">
            <p class="weui-tabbar__icon"><i class="iconfont">&#xe61a;</i></p>
            <p class="weui-tabbar__label">靓号</p>
        </a>
        <a href="http://www.365webcall.cn/chat/ChatWin3.aspx?settings=mw7mPmXN6P0Nbmz3A7bwI6z3Amw600Pz3AX6mmP6&UserID=-1" target="_blank" class="weui-tabbar__item">
            <p class="weui-tabbar__icon"><i class="iconfont">&#xe60b;</i></p>
            <p class="weui-tabbar__label">在线客服</p>
        </a>
        <a href="javascript:void(0);" class="weui-tabbar__item open-popup" data-target="#popKefu">
            <p class="weui-tabbar__icon"><i class="iconfont">&#xe73b;</i></p>
            <p class="weui-tabbar__label">微信客服</p>
        </a>
        <a href="/WeChatManage/user_index/" class="weui-tabbar__item">
            <p class="weui-tabbar__icon"><i class="iconfont">&#xe60e;</i></p>
            <p class="weui-tabbar__label">用户中心</p>
        </a>
    </div>
    <div class='weui-popup__container' id="popKefu">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="modal-content" style="padding-top:0rem;">
                <div class="contact-mod">
                    <a href="javascript:;" class="close-popup"><i class="weui-icon-cancel"></i></a>
                    <div class="head">在线客服</div>
                    <div class="info">
                        <div class="code">
                            <img src="/assets/wap/images/qr.jpg">
                            <p>GDTA4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/wap/js/jquery-2.1.4.js?v=6.5"></script>
    <script src="/assets/wap/js/validform.min.js?v=6.5"></script>
    <script src="/assets/wap/js/weui.min.js?v=6.5"></script>
    <script src="/assets/wap/js/fastclick.js?v=6.5"></script>
    <script src="/assets/wap/js/global.js?v=6.5"></script>
    <script src="/assets/wap/js/user.js?v=6.5"></script>
</body>
</html>