
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="会员登陆 - 全国精品靓号">
    <title>会员登陆 - 全国精品靓号</title>
    <meta content="【全国精品】手机靓号六连、五连、四连、三连99999、88888、77777、66666、55555、33333、22222、11111" name="keywords">
    <meta content="专业做靓号，全国各地手机靓号应有尽有，中国移动、中国联通、中国电信靓号最新靓号发布平台" name="description">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/assets/wap/css/weui.min.css?v=7.4" rel="stylesheet">
    <link href="/assets/wap/css/weui.min.jquery.css?v=7.4" rel="stylesheet">
    <link href="/assets/wap/css/global.css?v=7.4" rel="stylesheet">
    <link href="/assets/wap/css/user.css?v=7.4" rel="stylesheet">
    <script type="text/javascript">
	var baseUrl = '';
    </script>
</head>
<body>
    <!--主体部分 开始-->
    <div class="wrapper login-page">
        <header><a href="/WeChatManage/mpg/index" class="t_icon"></a></header>
        <div class="mpart">
            <div class="vision" style="height: 5rem;">
                <div class="s_mide layer" data-depth=".35"></div>
            </div>
            <div class="login_logo" style="font-size: 30px;color:#fff;font-weight: bold;text-align: center;background: none;">快递查询</div>
            <div class="login_form">
                <form method="post" action="/user_index/loginDo/" class="Validform">
                    <div class="login_txt login_name">
                        <input type="text" name="tel" autocomplete="off" placeholder="请输入购买手机号" autocomplete="off" datatype="*" errormsg="请输入购买手机号！">
                    </div>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_warn" id="formSubmit">查 询</a>
                    </div>
                </form>
                <div class="login_memo" style="display:block;text-align: center;margin: 2rem auto 0;">
                    <p style="display:block;text-align:left;line-height:26px;color:#333;">
                        <!--
                        <b>客服电话：</b><br />
                        <a href="tel:17125599993" style="color: #337ab7;">17125599993</a>（上班时间：09:00~18:00）<br />
                         -->
                        <b>温馨提醒：</b><br />
                        1、所有订单成功，次日下午7点发货，会有短信和语音通知，请留意<br />
                        2、查询快递单号，请登录快递官方网站查询<br />
                        3、快递均为到付件<br />
                        4、收到快递之后：实名认证☞ 充值缴费☞ 正常使用<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--主体部分 结束-->
    <script src="/assets/wap/js/jquery-2.1.4.js?v=7.4"></script>
    <script src="/assets/wap/js/validform.min.js?v=7.4"></script>
    <script src="/assets/wap/js/weui.min.js?v=7.4"></script>
    <script src="/assets/wap/js/fastclick.js?v=7.4"></script>
    <script src="/assets/wap/js/global.js?v=7.4"></script>
    <script src="/assets/wap/js/user.js?v=7.4"></script>
</body>
</html>
