
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="会员登陆 - 全国精品靓号">
    <title>会员登陆 - 全国精品靓号</title>
    <meta content="【全国精品】手机靓号六连、五连、四连、三连99999、88888、77777、66666、55555、33333、22222、11111" name="keywords">
    <meta content="专业做靓号，全国各地手机靓号应有尽有，中国移动、中国联通、中国电信靓号最新靓号发布平台" name="description">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/assets/wap/css/weui.min.css?v=6.5" rel="stylesheet">
    <link href="/assets/wap/css/weui.min.jquery.css?v=6.5" rel="stylesheet">
    <link href="/assets/wap/css/global.css?v=6.5" rel="stylesheet">
    <link href="/assets/wap/css/user.css?v=6.5" rel="stylesheet">
    <script type="text/javascript">
        var baseUrl = '';
    </script>
</head>
<body>
    <!--主体部分 开始-->
    <div class="wrapper login-page">
        <div class="mpart">
            <div class="vision">
                <div class="s_mide layer" data-depth=".35"></div>
            </div>
            <div class="login_logo" style="font-size: 30px;color:#fff;font-weight: bold;text-align: center;background: none;">用户登陆</div>
            <div class="login_form">
                <form method="post" action="/user_index/loginDo/" class="Validform">
                    <div class="login_txt login_name">
                        <input type="text" name="account" autocomplete="off" placeholder="请输入账号" autocomplete="off" datatype="*" errormsg="请输入账号！">
                    </div>
                    <div class="login_txt login_pwd">
                        <input type="password" name="pass" autocomplete="off" placeholder="请输入密码" autocomplete="off" datatype="*" errormsg="请输入密码！">
                    </div>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_warn" id="formSubmit">登 录</a>
                    </div>
                </form>

                <div class="reg_btn"><a href="/WeChatManage/user_index/reg/">没有账号，点击马上注册</a></div>

            </div>

            <div class="vision vision_bottom">
                <div class="s_mide layer" data-depth=".35"></div>
                <div class="s_botm"></div>
                <div class="s_botm"></div>
            </div>
        </div>
    </div>
    <!--主体部分 结束-->
    <script src="/assets/wap/js/jquery-2.1.4.js?v=6.5"></script>
    <script src="/assets/wap/js/validform.min.js?v=6.5"></script>
    <script src="/assets/wap/js/weui.min.js?v=6.5"></script>
    <script src="/assets/wap/js/fastclick.js?v=6.5"></script>
    <script src="/assets/wap/js/global.js?v=6.5"></script>
    <script src="/assets/wap/js/user.js?v=6.5"></script>
</body>
</html>