
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="配送地址 - 号运来靓号网">
    <title>配送地址 - 号运来靓号网</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/assets/wap/css/weui.min.css?v=7.4" rel="stylesheet">
    <link href="/assets/wap/css/weui.min.jquery.css?v=7.4" rel="stylesheet">
    <link href="/assets/wap/css/global.css?v=7.4" rel="stylesheet">
    <link href="/assets/wap/css/user.css?v=7.4" rel="stylesheet">
    <script type="text/javascript">
	var baseUrl = '';
    </script>
</head>
<body>
    <!--主体部分 开始-->
    <div class="wrapper">
        <header><a href="/WeChatManage/user_address/index" class="t_icon"></a>配送地址</header>
        <div class="mpart">
            <div class="vision">
                <div class="s_mide layer" data-depth=".35"></div>
                <div class="s_botm layer" data-depth-x=".1" data-depth-y=".08"></div>
                <div class="s_botm layer" data-depth-x=".18" data-depth-y=".15"></div>
            </div>
        </div>
        <div class="weui-cells__title">配送地址</div>
        <form method="post" action="/user_address/add/cmd-addDo.html" class="Validform">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">配货区域：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="regions" value="山东省 济南市 天桥区" readonly="" data-codes="370000,250000,250000" id='cityPicker' placeholder="请选择配货区域">
                        <input name="codes" type="hidden" id="cityPickerCode" value="370000,250000,250000">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">详细地址：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="address" placeholder="请填写详细地址" autocomplete="off" datatype="*" errormsg="请填写详细地址！">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">联 系 人：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="name" placeholder="请填写联系人" autocomplete="off" datatype="*" errormsg="请填写联系人！">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">联系电话：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="tel" placeholder="请填写联系电话" autocomplete="off" datatype="*" errormsg="请填写联系电话！">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">设为默认：</label></div>
                    <div class="weui-cell__bd">
                        <label for="switchCP" class="weui-switch-cp">
                            <input id="switchCP" class="weui-switch-cp__input" type="checkbox" name="mark" value="1" checked="checked"><div class="weui-switch-cp__box"></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_warn" href="javascript:" id="formSubmit">提交</a>
                <input type="hidden" name="target" value="/user_address/index/">
            </div>
        </form>
    </div>
    <!--主体部分 结束-->
    <!-- <div class="weui-footer"> -->
    <!--     <div class="weui-footer__text"><p>Copyright © 2018 All Rights Reserved<br />济宁云联信息科技有限公司 鲁ICP备13024714号</p></div> -->
    <!-- </div> -->
        <div class="sstmb"></div>
        <div class="weui-tabbar">
            <a href="/WeChatManage/mpg/index" class="weui-tabbar__item">
                <p class="weui-tabbar__icon"><i class="iconfont">&#xe61a;</i></p>
                <p class="weui-tabbar__label">靓号</p>
            </a>
            <a href="http://www.365webcall.cn/chat/ChatWin3.aspx?settings=mw7mPmXN6P0Nbmz3A7bwI6z3Amw600Pz3AX6mmP6&UserID=-1" target="_blank" class="weui-tabbar__item">
                <p class="weui-tabbar__icon"><i class="iconfont">&#xe60b;</i></p>
                <p class="weui-tabbar__label">在线客服</p>
            </a>
            <a href="javascript:void(0);" class="weui-tabbar__item open-popup" data-target="#popKefu">
                <p class="weui-tabbar__icon"><i class="iconfont">&#xe73b;</i></p>
                <p class="weui-tabbar__label">微信客服</p>
            </a>
            <a href="/WeChatManage/user_index/" class="weui-tabbar__item">
                <p class="weui-tabbar__icon"><i class="iconfont">&#xe60e;</i></p>
                <p class="weui-tabbar__label">用户中心</p>
            </a>
        </div>
        <div class='weui-popup__container' id="popKefu">
            <div class="weui-popup__overlay"></div>
            <div class="weui-popup__modal">
                <div class="modal-content" style="padding-top:0rem;">
                    <div class="contact-mod">
                        <a href="javascript:;" class="close-popup"><i class="weui-icon-cancel"></i></a>
                        <div class="head">在线客服</div>
                        <div class="info">
                            <div class="code">
                                <img src="/assets/wap/images/qr.jpg">
                                <p>GDTA4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/assets/wap/js/jquery-2.1.4.js?v=6.5"></script>
        <script src="/assets/wap/js/validform.min.js?v=6.5"></script>
        <script src="/assets/wap/js/countDown.js?v=6.5"></script>
        <script src="/assets/wap/js/weui.min.js?v=6.5"></script>
        <script src="/assets/wap/js/fastclick.js?v=6.5"></script>
        <script src="/assets/wap/js/global.js?v=6.5"></script>
        <script src="/assets/wap/js/user.js?v=6.5"></script>
    <script type="text/javascript">
	globalObj.cityPicker('#cityPicker','请选择收货地址',true);
// 	if (navigator.userAgent.toLocaleLowerCase().includes('iphone')) {
// 		$("input").focus(function(){
// 			this.scrollIntoView(true);
// 		}).blur(function(){
// 			document.querySelector('body').scrollTop = 0;
// 		});
// 	}
    </script>
</body>
</html>
