<!doctype html>
<html font-size="12px">
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>首页-号运来靓号 </title>
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <link type="text/css" rel="stylesheet" href="~/statics/mobile/css/mui.min.css">
    <link type="text/css" rel="stylesheet" href="~/statics/mobile/css/base.css">
    <link type="text/css" rel="stylesheet" href="~/statics/mobile/css/index.css">
        <!-- Bytedance Tracking -->
    <script>
        (function (r, d, s, l) {
            var meteor = r.meteor = r.meteor || []; meteor.methods = ["track", "off", "on"]; meteor.factory = function (method) {
                return function () {
                    var args = Array.prototype.slice.call(arguments); args.unshift(method); meteor.push(args); return meteor
                }
            }; for (var i = 0; i < meteor.methods.length; i++) {
                var key = meteor.methods[i]; meteor[key] = meteor.factory(key)
            } meteor.load = function () {
                var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s);
                js.src = "https://analytics.snssdk.com/meteor.js/v1/" + l + "/sdk"; fjs.parentNode.insertBefore(js, fjs)
            }; meteor.load(); if (meteor.invoked) { return }
            meteor.invoked = true; meteor.track("pageview")
        })(window, document, "script", "1661317769883661");
    </script>
    <!-- End Bytedance Tracking -->
</head>
<body>
    <div class="main">
        <style>
            .to-service {
                position: fixed;
                right: 5px;
                top: 5px;
                z-index: 99;
                border: 1px solid #FFF;
                color: #FFF !important;
            }
        </style>
        <button type="button" class="mui-btn mui-btn-danger mui-btn-outlined to-service">订单查询</button>
        <div class="header" id="header">
            <div class="mui-slider">
                <div class="mui-slider-group">
                    <div class="mui-slider-item"><a href="tel:16505310086"><img src="~/statics/mobile/picture/banner1.jpg" /></a></div>
                </div>
            </div>
        </div>

        <div class="main-box">
            <div class="mui-card">
                <div class="mui-card-content filter">
                    <ul class="price-filter filter-ul">
                        <span class="filter-title filter-li">号码价格</span>
                        <li class="filter-li price-li filter-li-active" data-id="0">全部</li>
                        <li class="filter-li price-li" data-id="-300"><span class="filter-span">|</span>0 ~ 300</li>
                        <li class="filter-li price-li" data-id="301-600"><span class="filter-span">|</span>301 ~ 600</li>
                        <li class="filter-li price-li" data-id="601-3000"><span class="filter-span">|</span>601 ~ 3000</li>
                        <li class="filter-li price-li" data-id="3001-5000"><span class="filter-span">|</span>3001 ~ 5000</li>
                        <li class="filter-li price-li" data-id="5001-10000"><span class="filter-span">|</span>5001 ~ 10000</li>
                        <li class="filter-li price-li" data-id="10000-30000"><span class="filter-span">|</span>10000 ~ 30000</li>
                        <li class="filter-li price-li" data-id="30001-50000"><span class="filter-span">|</span>30001 ~ 50000</li>
                        <li class="filter-li price-li" data-id="50001-"><span class="filter-span">|</span>50000以上</li>
                        <div class="clear"></div>
                    </ul>
                    <div id="notice">
                        <img src="~/statics/mobile/picture/speaker.png" class="notice-speaker">
                        <span class="notice-buy-num">已有238人申请</span><span>|</span>
                        <span class="notice-content">王**获得188****6666</span>
                    </div>
                    <div class="filter-search-div">
                        <div class="mui-input-row mui-search filter-search">
                            <span class="filter-search-switch">模糊<i class="mui-icon mui-icon-arrowdown"></i></span>
                            <input type="search" class="mui-input-clear filter-search-input" placeholder="输入您喜欢的号码" maxlength="11">
                        </div>
                        <button type="button" class="mui-btn mui-btn-danger filter1-search-btn">确定</button>
                        <input class="filter-search-end" name="is-end" value="1" type="checkbox" checked>
                        <span class="filter-search-end-text">尾号</span>
                        <div class="clear"></div>
                    </div>
                    <div class="mui-input-row mui-search precise-search">
                        <span class="precise-search-input precise-search-switch">精准<i class="mui-icon mui-icon-arrowdown"></i></span>
                        <input class='precise-search-input precise-data' value="1" readonly>
                        <input class='precise-search-input precise-data' value="" maxlength="1">
                        <input class='precise-search-input precise-data' value="" maxlength="1">
                        <input class='precise-search-input precise-data precise-search-input-middle' value="" maxlength="1">
                        <input class='precise-search-input precise-data precise-search-input-middle' value="" maxlength="1">
                        <input class='precise-search-input precise-data precise-search-input-middle' value="" maxlength="1">
                        <input class='precise-search-input precise-data precise-search-input-middle' value="" maxlength="1">
                        <input class='precise-search-input precise-data' value="" maxlength="1">
                        <input class='precise-search-input precise-data' value="" maxlength="1">
                        <input class='precise-search-input precise-data' value="" maxlength="1">
                        <input class='precise-search-input precise-data' value="" maxlength="1">
                        <span class="precise-search-input precise-search-submit" value="搜索">搜索</span>
                    </div>
                </div>
                <div class="mui-card-content phone-num-content " id="phone-filter-box">
                    <div class="param-box">
                        <span class="param-span param-loc  " data-name="param-loc"><span class="cityname">号码归属地</span><i class="mui-icon mui-icon-arrowdown"></i></span>
                        <span class="param-span param-type " data-name="param-type">号码筛选<i class="mui-icon mui-icon-arrowdown"></i></span>
                        <span class="param-span param-orderby " data-name="param-orderby">排序<i class="mui-icon mui-icon-arrowdown"></i></span>
                    </div>
                    <div class="param-content">
                        <div class="param-loc-div param-div">
                            <ul class="mui-table-view param-ul param-province-ul">
                                <li class="mui-table-view-cell">选择省</li>
                                <li class="mui-table-view-cell  param-province-li" data-id="0" data-pcode="0">全部</li>
                            </ul>
                            <ul class="mui-table-view  param-ul  param-city-ul"></ul>
                            <div class="clear"></div>
                        </div>
                        <div class="param-orderby-div param-div">
                            <span class="sidebar-radius" data-value="">默认</span>
                            <span class="sidebar-radius" data-value="desc">价格由高到低</span>
                            <span class="sidebar-radius" data-value="asc">价格由低到高</span>

                            <div class="clear"></div>
                        </div>

                    </div>
                </div>
                <div class="mui-card-content phone-content" style="    margin-top: -15px;">
                    <ul class="phone-ul"></ul>
                </div>
                <div class="pullLoad" style="display: block;height:30px;"></div>
            </div>
        </div>

        <div class="param-type-div param-div-sidebar" data-show="0">
            <div style="height: calc(100% - 3rem); -webkit-overflow-scrolling: touch;overflow-scrolling: touch;overflow: hidden;overflow-y: auto">
                <div class="mui-card param-div-sidebar-card">
                    <div class="mui-card-content">
                        <div class="param-div-sidebar-div param-div-sidebar-title">
                            规律选号
                        </div>
                        <div class="param-div-sidebar-div sidebar-select" data-name="Grade" data-value="">
                            <span class="sidebar-radius" data-value="">不限</span>
                            <span class="sidebar-radius" data-value="0">超级精品号</span>
                            <span class="sidebar-radius" data-value="1">6A</span>
                            <span class="sidebar-radius" data-value="2">5A</span>
                            <span class="sidebar-radius" data-value="3">4A</span>
                            <span class="sidebar-radius" data-value="11">3A(0-5)</span>
                            <span class="sidebar-radius" data-value="12">3A(6-9)</span>
                            <span class="sidebar-radius" data-value="4">双豹子(0-5)</span>
                            <span class="sidebar-radius" data-value="5">ABCDE</span>
                            <span class="sidebar-radius" data-value="6">ABCD</span>
                            <span class="sidebar-radius" data-value="7">ABC</span>
                            <span class="sidebar-radius" data-value="9">ABCDEF</span>
                            <span class="sidebar-radius" data-value="13">大循环</span>
                            <span class="sidebar-radius" data-value="14">四拖一</span>
                            <span class="sidebar-radius" data-value="15">五拖一</span>
                            <span class="sidebar-radius" data-value="16">ABACAD</span>
                            <span class="sidebar-radius" data-value="17">ABABAB(AB)</span>
                            <span class="sidebar-radius" data-value="18">六拖一</span>
                            <span class="sidebar-radius" data-value="19">AABBCC(DD)</span>
                            <span class="sidebar-radius" data-value="20">双豹子(6-9)</span>
                            <span class="sidebar-radius" data-value="1211">各地区号</span>
                            <span class="sidebar-radius" data-value="1201">倒顺子</span>
                            <span class="sidebar-radius" data-value="1202">三拖一</span>
                            <span class="sidebar-radius" data-value="1204">AABB</span>
                            <span class="sidebar-radius" data-value="1205">ABAB</span>
                            <span class="sidebar-radius" data-value="1206">个性号码</span>
                            <span class="sidebar-radius" data-value="1207">表白号码</span>
                            <span class="sidebar-radius" data-value="1208">年份(生日）号</span>
                            <span class="sidebar-radius" data-value="1209">精品AA</span>
                            <span class="sidebar-radius" data-value="1210">拖二</span>
                        </div>
                    </div>
                </div>
                <div class="mui-card param-div-sidebar-card">
                    <div class="mui-card-content">
                        <div class="param-div-sidebar-div param-div-sidebar-title">
                            网络制式
                        </div>
                        <div class="param-div-sidebar-div sidebar-select" data-name="Operator" data-value="">
                            <span class="sidebar-radius" data-value="">不限</span>
                            <span class="sidebar-radius" data-value="移动网络">移动网络</span>
                            <span class="sidebar-radius" data-value="联通网络">联通网络</span>
                            <span class="sidebar-radius" data-value="电信网络">电信网络</span>
                        </div>
                    </div>
                </div>
                <div class="mui-card param-div-sidebar-card">
                    <div class="mui-card-content">
                        <div class="param-div-sidebar-div param-div-sidebar-title">
                            连号
                        </div>
                        <div class="param-div-sidebar-div sidebar-select" data-name="repeatNumber" data-value="">
                            <span class="sidebar-radius" data-value="">不限</span>
                            <span class="sidebar-radius" data-value="999">999</span>
                            <span class="sidebar-radius" data-value="888">888</span>
                            <span class="sidebar-radius" data-value="777">777</span>
                            <span class="sidebar-radius" data-value="666">666</span>
                            <span class="sidebar-radius" data-value="555">555</span>
                            <span class="sidebar-radius" data-value="444">444</span>
                            <span class="sidebar-radius" data-value="333">333</span>
                            <span class="sidebar-radius" data-value="222">222</span>
                            <span class="sidebar-radius" data-value="111">111</span>
                            <span class="sidebar-radius" data-value="000">000</span>
                        </div>
                    </div>
                </div>
                <div class="mui-card param-div-sidebar-card">
                    <div class="mui-card-content">
                        <div class="param-div-sidebar-div param-div-sidebar-title">
                            排除数字
                        </div>
                        <div class="param-div-sidebar-div  sidebar-select" data-name="except" data-value="">
                            <span class="sidebar-radius" data-value="0">不限</span>
                            <span class="sidebar-radius" data-value="4">排除4</span>

                        </div>
                    </div>
                </div>
                <div class="mui-card param-div-sidebar-card">
                    <div class="mui-card-content">
                        <div class="param-div-sidebar-div param-div-sidebar-title">
                            数字较多
                        </div>
                        <div class="param-div-sidebar-div  sidebar-select" data-name="moreNumber" data-value="">
                            <span class="sidebar-radius" data-value="">不限</span>
                            <span class="sidebar-radius" data-value="0">0较多</span>
                            <span class="sidebar-radius" data-value="1">1较多</span>
                            <span class="sidebar-radius" data-value="2">2较多</span>
                            <span class="sidebar-radius" data-value="3">3较多</span>
                            <span class="sidebar-radius" data-value="4">4较多</span>
                            <span class="sidebar-radius" data-value="5">5较多</span>
                            <span class="sidebar-radius" data-value="6">6较多</span>
                            <span class="sidebar-radius" data-value="7">7较多</span>
                            <span class="sidebar-radius" data-value="8">8较多</span>
                            <span class="sidebar-radius" data-value="9">9较多</span>
                        </div>
                    </div>
                </div>
                <div class="mui-card param-div-sidebar-card">
                    <div class="mui-card-content">
                        <div class="param-div-sidebar-div param-div-sidebar-title">
                            生日
                        </div>
                        <div class="param-div-sidebar-div  sidebar-select" data-name="birthdayNumber" data-value="">
                            <span class="sidebar-radius" data-value="">不限</span>
                            <span class="sidebar-radius" data-value="01">一月</span>
                            <span class="sidebar-radius" data-value="02">二月</span>
                            <span class="sidebar-radius" data-value="03">三月</span>
                            <span class="sidebar-radius" data-value="04">四月</span>
                            <span class="sidebar-radius" data-value="05">五月</span>
                            <span class="sidebar-radius" data-value="06">六月</span>
                            <span class="sidebar-radius" data-value="07">七月</span>
                            <span class="sidebar-radius" data-value="08">八月</span>
                            <span class="sidebar-radius" data-value="09">九月</span>
                            <span class="sidebar-radius" data-value="10">十月</span>
                            <span class="sidebar-radius" data-value="11">十一月</span>
                            <span class="sidebar-radius" data-value="12">十二月</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mui-card param-div-sidebar-card" style="position:relative;border-top:0;height: 3rem;border-radius: 0;padding:.5rem 0 0 0;margin:0">
                <div class="mui-card-content" style="text-align: center;">
                    <span class="param-div-sidebar-btn sidebar-reset">重置</span>
                    <span class="param-div-sidebar-btn sidebar-submit">确定</span>
                </div>
            </div>
        </div>


        <div id="loading">加载中…</div>
        <div id="backToTop"><a href="javascript:scroll(0,0)"><span>返回</span><span>顶部</span></a></div>
    </div>
    <div class="mask"></div>
    <div style="display: none;">
        <script type="text/javascript" src="~/statics/mobile/js/z_stat.js"></script>
    </div>
    <script src="~/statics/mobile/js/jquery.min.js"></script>
    <script src="~/statics/mobile/js/mui.min.js"></script>
    <script>
        function c(str) {
            mui.toast(str);
        }

        function setCookie(name, value, domain = '') {
            var Days = 1000;
            var exp = new Date();
            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
            if (domain == '') {
                document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
            } else {
                document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString() + ";domain=." + domain;
            }
        }

        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            if (arr = document.cookie.match(reg))
                return unescape(arr[2]);
            else
                return null;
        }

    </script>
    <script>
        let pageInfo = {
            'page': 0,
            'price': '0',
            'Grade': '',
            'search': '',
            'search_is_end': '1',
            'province': '',
            'city': '',
            'orderby': 'price',
            'ordername': '',
            'nomore': 0,
            'is_loading': 0,
        };
        $(document).ready(function () {
            $.getScript('https://apis.map.qq.com/ws/location/v1/ip?key=O5MBZ-TVR6K-SJTJV-AML5L-5BRZK-UXFQQ&output=jsonp&callback=autoCity');
            $.ajax({
                url: 'https://datavmap-public.oss-cn-hangzhou.aliyuncs.com/areas/csv/100000_province.json',
                type: 'get',
                success: function (res) {
                    let target = $('.param-province-ul');
                    let tpl = '<li class="mui-table-view-cell param-province-li param-province-li-append" data-id ="__NAME__" data-pcode="__PID__">__NAME__</li>';
                    $.each(res.rows, function (i, v) {
                        let lihtml = tpl.replace(/__PID__/, v.adcode);
                        lihtml = lihtml.replace(/__NAME__/g, v.name);
                        target.append(lihtml);
                    });
                }
            });
            //notice
            changeNotice();
            //规律
            $('.Grade-li').click(function () {
                $('.Grade-li').removeClass('filter-li-active');
                $(this).addClass('filter-li-active');
                changePageInfo('Grade', $(this).attr('data-id'));
            });
            $('.filter-search-end').click(function () {
                let checked = $(this).is(':checked');
                if (!checked) {
                    changePageInfo('search_is_end', '0');
                } else {
                    changePageInfo('search_is_end', '1');
                }
            });
            //价格
            $('.price-li').click(function () {
                $('.price-li').removeClass('filter-li-active');
                $(this).addClass('filter-li-active');
                changePageInfo('price', $(this).attr('data-id'));
            });
            //省份
            $('.param-province-ul').on('click', '.param-province-li', function () {
                let pcode = $(this).attr('data-pcode');
                let pname = $(this).text();
                $('.param-province-li').removeClass('province-li-active');
                $(this).addClass('province-li-active');
                if (pcode == 0) {
                    pageInfo['province'] = '';
                    pageInfo['city'] = '';
                    pageInfo['page'] = 1;
                    changeCity();
                    return false;
                }

                let target = $('.param-city-ul');
                let tpl = '<li class="mui-table-view-cell  param-city-li param-city-li-render" data-id = "__NAME__">__NAME__</li>';
                let html = '<li class="mui-table-view-cell  param-city-li" data-id = "">全部</li>';

                if (pcode == "500000" || pcode == "110000" || pcode == "120000" || pcode == "310000") {
                    html += '<li class="mui-table-view-cell  param-city-li" data-id = "">' + pname + '</li>';
                    target.empty();
                    target.append(html);
                }
                else {
                    $.ajax({
                        url: 'https://datavmap-public.oss-cn-hangzhou.aliyuncs.com/areas/csv/' + pcode + '_city.json',
                        type: 'get',
                        success: function (res) {
                            $.each(res.rows, function (i, v) {
                                let lihtml = tpl.replace(/__NAME__/g, v.name);
                                html += lihtml;
                            });
                            target.empty();
                            target.append(html);
                        }
                    });
                }
            });
            //城市
            $('.param-city-ul').on('click', '.param-city-li', function () {
                let province = $('.province-li-active').attr('data-id');
                let city = $(this).attr('data-id');
                pageInfo['province'] = province;
                pageInfo['city'] = city;
                pageInfo['page'] = 1;
                changeCity();
                // getNum();
            });
            //paixu
            $('.param-orderby-div').on('click', 'span', function () {
                let datavalue = $(this).attr('data-value');
                $(this).addClass('param-orderby-span-active');
                $(this).siblings('span').removeClass('param-orderby-span-active');
                $('.param-span').removeClass('param-span-active');
                $('.param-orderby-div').hide();
                // pageInfo['ordername'] = datavalue;
                changePageInfo('ordername', datavalue);
            });
            //搜索框
            $('.filter-search-input').focus(function () {
                $('.filter1-search-btn').show();
            });

            $('.filter-search-input').blur(function () {
                if ($('.filter-search-input').val() == '') {
                    $('.filter1-search-btn').hide();
                    changePageInfo('search', '');
                }
            });
            $('.filter1-search-btn').click(function () {
                let searchval = $('.filter-search-input').val();
                let reg = /^[1-9]+[0-9]*]*$/;
                if (!reg.test(searchval)) {
                    mui.toast('请输入纯数字');
                    return false;
                }
                pageInfo['precise_num'] = '';
                changePageInfo('search', searchval == null ? 0 : searchval);
            });
            $('.precise-search-submit').click(function () {
                pageInfo['search'] = '';
                let preciseNum = '';
                $('.precise-data').each(function () {
                    let num = $(this).val() == '' ? '_' : $(this).val();
                    preciseNum += num;
                });
                changePageInfo('precise_num', preciseNum);
            });
            $('.filter-search-switch').click(function () {
                $('.filter-search-div').hide();
                $('.precise-search').show();
            });
            $('.precise-search-switch').click(function () {
                $('.precise-search').hide();
                $('.filter-search-div').show();
            });
            //筛选
            $('.param-loc').click(function () {
                let node = $('.param-loc-div');
                $(this).siblings('.param-span').removeClass('param-span-active');
                if ($(this).hasClass('param-span-active')) {
                    $(this).removeClass('param-span-active');
                } else {
                    $(this).addClass('param-span-active');
                }
                node.siblings('.param-div').hide();
                node.toggle();
            });
            $('.param-orderby').click(function () {
                let node = $('.param-orderby-div');
                $(this).siblings('.param-span').removeClass('param-span-active');
                if ($(this).hasClass('param-span-active')) {
                    $(this).removeClass('param-span-active');
                } else {
                    $(this).addClass('param-span-active');
                }
                node.siblings('.param-div').hide();
                node.toggle();
            });
            $('.param-type').click(function () {
                $('.param-span').removeClass('param-span-active');
                $('param-div').hide();
                toggleSidebar()
                // $('.mask').show();
                // $('.param-div-sidebar').animate({'left':"20%"},300);
            });
            //侧栏筛选项
            $('.param-div-sidebar-div').on('click', 'span', function () {
                $(this).siblings('span').removeClass('sidebar-span-active');
                $(this).addClass('sidebar-span-active');
                $(this).parent('.param-div-sidebar-div').attr('data-value', $(this).attr('data-value'));
            });
            $('.sidebar-reset').click(function () {
                $('.param-div-input-price').val('');
                $('.sidebar-select').attr('data-value', '');
                $('.sidebar-span-active').removeClass('sidebar-span-active');
                $('.sidebar-select').each(function () {
                    let dataname = $(this).attr('data-name');
                    let datavalue = $(this).attr('data-value');
                    pageInfo[dataname] = datavalue;
                });
                toggleSidebar();
                getNum();
            });
            $('.sidebar-submit').click(function () {
                $('.sidebar-select').each(function () {
                    let dataname = $(this).attr('data-name');
                    let datavalue = $(this).attr('data-value');
                    pageInfo[dataname] = datavalue;
                });
                toggleSidebar();
                getNum();
            });
            //$('.phone-ul').on('click', '.phone-li', function () {
            //    let mobile_id = $(this).attr('data-id');
            //    location.href = "/mobile/index/product.html?mobile_id=" + mobile_id;
            //});
            $('.precise-search-input').on('input propertychange', function () {
                let obj = $(this);
                if (obj.val() != '') {
                    obj.next('.precise-search-input').focus();
                } else {
                    obj.prev('.precise-search-input').focus();
                }
            });
            $('.to-service').click(function () {
                location.href = "express";
            });
            randnotice()
        });
        mui(".param-content").on('swiperight', '.param-div-sidebar', function () {
            toggleSidebar();
        });
        $('.mask').click(function () {
            toggleSidebar();
        });
        //开关侧边栏
        function toggleSidebar() {
            pageInfo['page'] = 1;
            let time = 300;
            let target = $('.param-div-sidebar');
            let distance = "20%";
            let isShow = 1;
            let maskDisplay = 'block';
            if (target.attr('data-show') == 1) {
                distance = "100%";
                isShow = 0;
                maskDisplay = "none";
            }
            $('.mask').css('display', maskDisplay);
            target.animate({ 'left': distance }, time, function () {
                target.attr('data-show', isShow);
            });
        }

        function autoCity(res) {
            if (!res.hasOwnProperty('status')) {
                return false;
            }
            if (!res.hasOwnProperty('result')) {
                return false;
            }
            let locinfo = res.result.ad_info;
            if (locinfo.province != '') {
                pageInfo['province'] = locinfo.province;
            }
            if (locinfo.city != '') {
                pageInfo['city'] = locinfo.city;
            }

            changeCity();
        }

        function renderProvince(arr) {
            let target = $('.param-province-ul');
            let tpl = '<li class="mui-table-view-cell param-province-li param-province-li-append" data-id ="__NAME__" data-pcode="__PID__">__NAME__</li>';
            $.each(arr.provices, function (i, v) {
                let lihtml = tpl.replace(/__PID__/, v.code);
                lihtml = lihtml.replace(/__NAME__/g, v.name);
                target.append(lihtml);
            });
        }

        function renderCity(arr) {
            let target = $('.param-city-ul');
            let tpl = '<li class="mui-table-view-cell  param-city-li param-city-li-render" data-id = "__NAME__">__NAME__</li>';
            let html = '<li class="mui-table-view-cell  param-city-li" data-id = "">全部</li>';
            $.each(arr, function (i, v) {
                let lihtml = tpl.replace(/__NAME__/g, v.name);
                html += lihtml;
            });
            target.empty();
            target.append(html);
        }

        function changeCity() {
            $('.param-loc').removeClass('param-span-active');
            let target = $('.cityname');
            if (pageInfo['city'] != '') {
                target.text(pageInfo['city']);
            } else if (pageInfo['province'] != '') {

                target.text(pageInfo['province']);
            } else {
                target.text('号码归属地');
            }
            getNum();
        }

        function changePageInfo(key, value) {
            pageInfo[key] = value;
            pageInfo['page'] = 1;
            getNum();
        }
        // function para*/
        function getNum(append = 0) {
            if (append == 0) {
                document.body.scrollTop = document.documentElement.scrollTop = 0
            }
            pageInfo['is_loading'] = 1;
            $('#loading').show();
            $('.param-div').hide();
            $.ajax({
                url: "ListData",
                type: 'POST',
                dataType: 'json',
                data: pageInfo,
                success: function (res) {
                    console.log(res);
                    //pageInfo['nomore'] = res.data.noMore;
                    if (res.type != 1) {
                        mui.toast('服务器错误!');
                        return false;
                    }
                    if (append == 0) {
                        $('.phone-ul').empty();
                    }

                    $('.phone-ul').append(res.resultdata + '<div class = "clear"></div>');
                    $('#loading').hide();
                    pageInfo['is_loading'] = 0;
                    //if (res.data.notEnough == 1) {
                    //    $('.pullLoad').text('-该地区库存不足,建议修改筛选条件-');
                    //}
                }
            });
        }



        function randnotice() {
            let prefix = ['165', '170', '167', '171', '162'];
            let end = ['1234', '2233', '2266', '8888', '6666', '2324', '6268', '7878', '9999', '9000', '8000', '8899', '8866', '7799', '5678', '6789', '1234', '9900'];
            let name = ['张', '王', '李', '赵', '袁', '朱', '宋', '金'];
            let indexPrefix = randomNum(0, prefix.length - 1);
            let indexEnd = randomNum(0, end.length - 1);
            let indexName = randomNum(0, name.length - 1);
            let step = randomNum(1, 10);
            let lastNum = getCookie('lastNum');
            if (lastNum == "NaN") {
                lastNum = 200;
            }
            if (lastNum == null) {
                newNum = 200;
            } else {
                newNum = parseInt(lastNum) + parseInt(step);
            }

            setCookie('lastNum', newNum);
            let newPhonenum = prefix[indexPrefix] + '****' + end[indexEnd];
            let noticeCount = '<span>已有</span><span>' + newNum + '</span><span>人订购</span>';
            let noticeMsg = '<span>' + name[indexName] + '</span><span>**获得</span>' + '<span>' + newPhonenum + '</span>';
            $('.notice-buy-num').html(noticeCount);
            $('.notice-content').html(noticeMsg);
        }

        function changeNotice() {
            randnotice();
            setInterval(function () {
                randnotice();
            }, 2000);
        }
        //生成从minNum到maxNum的随机数
        function randomNum(minNum, maxNum) {
            switch (arguments.length) {
                case 1:
                    return parseInt(Math.random() * minNum + 1, 10);
                    break;
                case 2:
                    return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                    //或者 Math.floor(Math.random()*( maxNum - minNum + 1 ) + minNum );
                    break;
                default:
                    return 0;
                    break;
            }
        }


        $(window).scroll(function () {

            let filterHeight = document.getElementById('phone-filter-box').offsetTop;
            //已经滚动到上面的页面高度
            let scrollTop = $(this).scrollTop();
            //页面高度
            let scrollHeight = $(document).height();
            //浏览器窗口高度
            let windowHeight = $(this).height();
            if ((windowHeight - scrollTop) < filterHeight) {
                $('#backToTop').show();
                $('#phone-filter-box').addClass('filter-top-show');
            } else {
                $('#backToTop').hide();
                $('#phone-filter-box').removeClass('filter-top-show');
            }

            //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
            if (scrollTop + windowHeight >= scrollHeight - 20) {

                if (pageInfo['nomore'] == 1) {
                    return false;
                }
                if (pageInfo['is_loading'] == 1) {
                    return false;
                }
                pageInfo['page'] = pageInfo['page'] + 1;
                getNum(1);
            }
        });
        //dingda
    </script>

    <script type="text/javascript">
        function toInfo(id, host) {
            if (isWeiXin()) {
                location.href = 'https://shop.jnlxsm.net/webapp/mwd2/productJsApi/' + id + '?host=' + host;
            }
            else {
                location.href = 'https://shop.jnlxsm.net/webapp/mwd2/product/' + id + '?host=' + host;
            }
        }

        function isWeiXin() {
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                return true;
            } else {
                return false;
            }
        }
    </script>
</body>
</html>
