
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="16735811111 - 全国精品靓号">
    <title>16735811111 - 全国精品靓号</title>
    <meta content="【全国精品】手机靓号六连、五连、四连、三连99999、88888、77777、66666、55555、33333、22222、11111" name="keywords">
    <meta content="专业做靓号，全国各地手机靓号应有尽有，中国移动、中国联通、中国电信靓号最新靓号发布平台" name="description">
    <meta content="http://vip.u0537.com/shareMobileDl.png" name=shareimg>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/assets/wap/css/weui.min.css?v=6.5" rel="stylesheet">
    <link href="/assets/wap/css/weui.min.jquery.css?v=6.5" rel="stylesheet">
    <link href="/assets/wap/css/global.css?v=6.5" rel="stylesheet">
    <link href="/assets/wap/css/style.css?v=6.5" rel="stylesheet">
    <!-- Bytedance Tracking -->
    <script>
        var baseUrl = '';
        (function (r, d, s, l) {
            var meteor = r.meteor = r.meteor || []; meteor.methods = ["track", "off", "on"]; meteor.factory = function (method) {
                return function () {
                    var args = Array.prototype.slice.call(arguments); args.unshift(method); meteor.push(args); return meteor
                }
            }; for (var i = 0; i < meteor.methods.length; i++) {
                var key = meteor.methods[i]; meteor[key] = meteor.factory(key)
            } meteor.load = function () {
                var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s);
                js.src = "https://analytics.snssdk.com/meteor.js/v1/" + l + "/sdk"; fjs.parentNode.insertBefore(js, fjs)
            }; meteor.load(); if (meteor.invoked) { return }
            meteor.invoked = true; meteor.track("pageview")
        })(window, document, "script", "1664007157743627");
    </script>
    <!-- End Bytedance Tracking -->
</head>
<body>
    <div class="wrapper">
        <header><a href="/WeChatManage/mpg/detail/@ViewBag.Id" class="t_icon"></a>号码订购<font class="d-n"></font></header>
        <div class="mpart">
            <div class="vision">
                <div class="s_mide layer" data-depth=".35"></div>
                <div class="s_botm layer" data-depth-x=".1" data-depth-y=".08"></div>
                <div class="s_botm layer" data-depth-x=".18" data-depth-y=".15"></div>
            </div>
        </div>
        <div class="express-title"></div>
        <form action="/mpg/flowDo/@ViewBag.Id" class="Validform">
            <div class="weui-cells__title regionArea">配送信息</div>
            <div class="weui-cells">
                <div class="weui-cell regionArea">
                    <div class="weui-cell__hd"><label class="weui-label">联 系 人：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="contact_name" value="" placeholder="请填写联系人" autocomplete="off" errormsg="请填写联系人！">
                    </div>
                </div>
                <div class="weui-cell regionArea">
                    <div class="weui-cell__hd"><label class="weui-label">联系电话：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="contact_tel" value="" placeholder="请填写联系电话" autocomplete="off" errormsg="请填写联系电话！">
                    </div>
                </div>
                <div class="weui-cell regionArea">
                    <div class="weui-cell__hd"><label class="weui-label">配货区域：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="contact_regions" value="" readonly="" data-codes="" id='cityPicker' placeholder="请选择配货区域">
                        <input type="hidden" id="cityPickerCode" name="contact_codes" value="">
                    </div>
                </div>
                <div class="weui-cell regionArea">
                    <div class="weui-cell__hd"><label class="weui-label">详细地址：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="contact_address" value="" placeholder="请填写详细地址" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="weui-cells__title">预定信息</div>
            <div class="weui-form-preview">
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">预定号码</label>
                        <span class="weui-form-preview__value">@ViewBag.Tel</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">号码价格</label>
                        <span class="weui-form-preview__value"><font class="f-orange">¥@ViewBag.Price</font></span>
                    </div>
                    @*<div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">预存话费</label>
                        <span class="weui-form-preview__value"><font class="f-orange">¥0</font></span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">订单总计</label>
                        <span class="weui-form-preview__value"><font class="f-orange">¥35800</font></span>
                    </div>*@
                </div>
            </div>
            <div class="weui-tabbar footer-order">
                <div class="weui-flex__item">
                    <div class="tex">金额¥<font class="f-orange font18">@ViewBag.Price</font></div>
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:void(0);" class="weui-btn weui-btn_warn btn" id="formSubmit">提交</a>
                    <input type="hidden" name="addressno" value="1">
                    <input type="hidden" name="orderSubmit" id="orderSubmit" value="1">
                    <input type="hidden" name="express_type" id="expressType" value="0">
                    <input type="hidden" name="express_type" id="expressType" value="0">
                    <input type="hidden" name="Price" id="expressType" value="@ViewBag.Price">
                    <input type="hidden" name="Tel" id="expressType" value="@ViewBag.Tel">
                </div>
            </div>
        </form>
    </div>
    <!--主体部分 结束-->
    <div id="cardGonglue" class='weui-popup__container popup-bottom'>
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="toolbar">
                <div class="toolbar-inner">
                    <a href="javascript:;" class="picker-button close-popup">关闭</a>
                    <h1 class="title">温馨提醒</h1>
                </div>
            </div>
            <div class="modal-content">
                <ul class="ask-list">
                    <li><em>NO1. </em>所有订单成功，次日下午7点发货，会有短信和语音通知，请留意。<br></li>
                    <li><em>NO2. </em>查询快递单号，请登录快递官方网站查询。</li>
                    <li><em>NO3. </em>快递均为到付件。<br></li>
                    <li style="color:#f00"><em>NO4. </em>收到快递后：实名认证☞ 充值缴费☞ 正常使用。</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="~/assets/wap/js/jquery-2.1.4.js"></script>
    <script src="~/assets/wap/js/jweixin-1.4.0.js?v=6.5"></script>
    <script src="~/assets/wap/js/validform.min.js?v=6.5"></script>
    <script src="~/assets/wap/js/weui.min.js?v=6.5"></script>
    <script src="~/assets/wap/js/fastclick.js?v=6.5"></script>
    <script src="~/assets/wap/js/city-picker.min.js?v=6.5"></script>
    <script src="~/assets/wap/js/global.js?v=6.5"></script>
    <script src="~/assets/wap/js/user.js?v=6.5"></script>
    <script type="text/javascript">
        globalObj.cityPicker('#cityPicker', '请选择收货地址', true);
    </script>
</body>
</html>
