<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>代理中心-售价调整</title>
    <meta name="Keywords" content="全国靓号" />
    <meta name="Description" content="全国靓号" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/static/agent/wap/images/favicon.ico">
    <link rel="stylesheet" href="/static/agent/wap/styles/base.css?v=05">
    <link rel="stylesheet" href="/static/agent/wap/styles/customer.css?v=098">
</head>

<body class="auto_width">
    <article class="container main_customer_withdrawal">
        <div class="main" id="app">
            <section class="top">
                <h3>可调整浮动比例范围</h3>
                <h4><strong id="balance">（90-110）</strong></h4>
            </section>
            <section class="handler">
                <p class="input_wrap flex">
                    <label for="fuDong">浮动比例</label>
                    <input type="number" id="fuDong" class="flex_item" value="@ViewBag.fuDong">
                </p>
                <div class="btn_wrap">
                    <button id="submit">确定</button>
                </div>
            </section>
        </div>


    </article>
    <script>

    </script>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="/static/agent/wap/scripts/app/customerMixins.js?v=072"></script>
    <script src="/static/agent/wap/scripts/common/base.js?v=062"></script>
    <script src="/static/agent/wap/scripts/app/api.js?v=062"></script>





    <script>


        function req(uri, data = {}, method = '0', url = "/webapp/agentApi/") {

            data._token = "RoygJcI8KJqeysCjuRMsqQtxrMmSHysjffDK6laH";

            let res = new Promise(function (resolve, reject) {

                $.ajax({
                    url: url + uri,
                    type: method == 0 ? 'post' : 'get',
                    data: data,
                    success: function (res) {
                        resolve(res);
                    },
                    error: function (error) {
                        reject(error);
                    }
                })
            });

            return res;
        };

        function cl(str) {
            console.log(str);
        }


    </script>
    <script>
        $('#submit').click(function () {

            let fuDong = parseInt($('#fuDong').val());

            
            if (!fuDong || fuDong < 90 || fuDong > 110) {
                $.toast('调整比例范围必须在90至110之间');
                $("#fuDong").focus();
                return false;
            }

            $.ajax({
                url: '/webapp/agent/FudongUpdate',
                type: 'post',
                dataType: 'json',
                data: { fuDong: fuDong },
                success: function (res) {
                    if (res.code != 200) {
                        $.toast(res.msg);
                        return false;
                    }

                    $.toast('调整成功！');
                }
            })


        });
    </script>


</body>
</html>