@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //状态
        $("#Status").ComboBox({
            description: "==请选择==",
        });
        $("#PayStatus").ComboBox({
            description: "==请选择==",
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CustomerManage/Orders/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "../../CustomerManage/Orders/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">手机号码</td>
            <td class="formValue">
                <input id="Tel" type="text" class="form-control" />
            </td>
            <td class="formTitle">价格</td>
            <td class="formValue">
                <input id="Price" type="text" class="form-control" isvalid="yes" checkexpession="Double" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">下单时间</td>
            <td class="formValue">
                <input id="CreateDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
            <td class="formTitle">订单状态</td>
            <td class="formValue">
                <div id="Status" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                    <ul>
                        <li data-value="0">待付款</li>
                        <li data-value="1">待发货</li>
                        <li data-value="2">待开卡</li>
                        <li data-value="3">已完成</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">支付状态</td>
            <td class="formValue">
                <div id="PayStatus" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                    <ul>
                        <li data-value="0">未支付</li>
                        <li data-value="1">已支付</li>
                    </ul>
                </div>
            </td>
            <td class="formTitle">支付时间</td>
            <td class="formValue">
                <input id="PayDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">收件人</td>
            <td class="formValue">
                <input id="Receiver" type="text" class="form-control" />
            </td>
            <td class="formTitle">联系电话</td>
            <td class="formValue">
                <input id="ContactTel" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">省</td>
            <td class="formValue">
                <input id="Province" type="text" class="form-control" />
            </td>
            <td class="formTitle">市</td>
            <td class="formValue">
                <input id="City" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">区</td>
            <td class="formValue">
                <input id="Country" type="text" class="form-control" />
            </td>
            <td class="formTitle">详细地址</td>
            <td class="formValue">
                <input id="Address" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">发货人</td>
            <td class="formValue">
                <input id="DeliveryName" type="text" class="form-control" />
            </td>
            <td class="formTitle">发货时间</td>
            <td class="formValue">
                <input id="DeliveryDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">快递公司</td>
            <td class="formValue">
                <input id="ExpressCompany" type="text" class="form-control" />
            </td>
            <td class="formTitle">快递单号</td>
            <td class="formValue">
                <input id="ExpressSn" type="text" class="form-control" />
            </td>
        </tr>
        @*<tr>
            <td class="formTitle">快递公司编号</td>
            <td class="formValue">
                <input id="ExpressCode" type="text" class="form-control" />
            </td>
            <td class="formTitle">支付单号</td>
            <td class="formValue">
                <input id="PaySn" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">退款时间</td>
            <td class="formValue">
                <input id="ReturnDate" type="text" class="form-control" />
            </td>
            <td class="formTitle">退款原因</td>
            <td class="formValue">
                <input id="ReturnRemark" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">退货编号</td>
            <td class="formValue">
                <input id="ReturnSn" type="text" class="form-control" />
            </td>
        </tr>*@

    </table>
</div>
