body{
    background:#AC0807;
    /*background:#34A7FA;*/
    text-align: center;
    /*touch-action: none;*/
}
.main{
    width:100%;
    max-width: 640px;
    margin:0 auto;
}
.clear{clear:both;}
.mui-toast-container{
    bottom:250px !important;
}
.mask{
    display: none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    z-index:6;
    opacity:0.8;
    filter:alpha(opacity=80);
}
a { text-decoration: none;color:#FFF}



